body {
  background-color: #aec6d4;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.lstwwa-2 p,
.lstwwa-4 p,
.text-1 p {
  margin-bottom: 1em;
}

.baidu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 30px;
  background: url('../images/baidu.png') rgb(165, 187, 201);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.black {
  bottom: 0;
  left: 0.0833333333%;
  z-index: 9;
  width: 100%;
  height: 50px;
  background-color: rgb(41, 47, 62);
}

.buttom {
  position: absolute;
  top: 1400px;
  left: 0;
  z-index: 12;
  height: 50px;
}

.buttom .text {
  bottom: 11px;
  left: 0.0833333333%;
  z-index: 10;
  width: 40.75%;
  height: 34px;
  font-size: 0.375em;
  color: rgba(255, 255, 255, 0.51);
}

.csdn {
  display: block;
  position: absolute;
  top: 107px;
  left: 0;
  z-index: 3;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 30px;
  background: url('../images/csdn.jpg') rgb(165, 187, 201);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  width: 100%;
  height: 135px;
  margin: 0 auto;
  overflow: hidden;
}

.github {
  display: block;
  position: absolute;
  top: 107px;
  height: 67px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: rgb(165, 187, 201);
  font-size: 1.25em;
  line-height: 3.5;
  text-align: center;
  color: rgb(0, 0, 0);
}

.google {
  display: block;
  position: absolute;
  top: 0;
  left: 27.5%;
  z-index: 1;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 30px;
  background: url('../images/google.png') rgb(165, 187, 201);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.head .index {
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  height: 135px;
  margin: 0 auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: url('../images/ac5afa59ada34de634b6be4db5a59b24(13).png') rgba(0, 0, 0, 0.3);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
}

.home {
  display: block;
  top: 0;
  left: 0;
  z-index: 19;
  width: 14.3356643356%;
  height: 70px;
  border-radius: 20px;
  background-color: rgb(144, 163, 147);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.imooc {
  display: block;
  position: absolute;
  top: 0;
  left: 83.0283788404%;
  z-index: 4;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 30px;
  background: url('../images/imooc.png') rgb(165, 187, 201);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.index {
  width: 100%;
}

.link {
  position: absolute;
}

.linux {
  display: block;
  top: 0;
  left: 57.2006118881%;
  z-index: 17;
  width: 14.1608391608%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(101, 119, 154);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.lstwwa {
  position: absolute;
}

.lstwwa .text {
  top: 23px;
  left: 33.1967213114%;
  z-index: 13;
  width: 66.8032786885%;
  min-width: 98px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.main {
  position: absolute;
  top: 383px;
  left: 0;
  right: 0;
  z-index: 23;
  width: 42.3997395833%;
  min-height: 431px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgb(139, 182, 197);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.me {
  display: block;
  position: absolute;
  top: 15px;
  left: 90%;
  z-index: 11;
  width: 5.1666666666%;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(133, 145, 172);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resources {
  display: block;
  top: 0;
  left: 85.6643356643%;
  z-index: 18;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(101, 119, 154);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resume {
  display: block;
  top: 0;
  left: 28.6713286713%;
  z-index: 16;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(101, 119, 154);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sina {
  display: block;
  position: absolute;
  top: 0;
  right: 27.5%;
  z-index: 5;
  width: 16.4583333333%;
  height: 67px;
  border-radius: 30px;
  background: url('../images/sina-logo-white-744x430(%E5%B7%B2%E5%8E%BB%E5%BA%95).png') rgb(165, 187, 201);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.url {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  z-index: 8;
  width: 79.97265625%;
  height: 174px;
  margin: 0 auto;
}

.github-1 {
  left: 83.0283788404%;
  z-index: 7;
  width: 16.9784594343%;
  background-image: url('../images/bilibili(%E5%B7%B2%E5%8E%BB%E5%BA%95).png');
}

.github-2 {
  left: 56.0429183151%;
  z-index: 6;
  width: 16.9784594343%;
  background-image: url('../images/timg(%E5%B7%B2%E5%8E%BB%E5%BA%95).png');
}

.github-3 {
  left: 27.5%;
  z-index: 2;
  width: 16.9791666666%;
  background-image: url('../images/github.png');
}

.link-1 {
  top: 48px;
  left: 42.1666666666%;
  z-index: 20;
  width: 47.6666666666%;
  height: 70px;
}

.lstwwa-2 {
  top: 17px;
  left: 1.5%;
  z-index: 15;
  width: 40.6666666666%;
  height: 100px;
}

.text a,
.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1000px) {
  .buttom .text {
    width: 40.7859375%;
  }

  .cut {
    right: auto;
  }

  .head {
    left: 0;
    height: 155px;
  }

  .head .index {
    left: 0;
    right: auto;
    height: 155px;
  }

  .index {
    top: 1365px;
    left: auto;
  }

  .index .button {
    width: 5.8328125%;
  }

  .link .home {
    width: 14.2744076797%;
    height: 50px;
    font-size: 1.375em;
  }

  .link .linux {
    left: 57.1103962418%;
    width: 14.3446180555%;
    font-size: 1.375em;
  }

  .link .resources {
    left: 85.666870915%;
    width: 14.2744076797%;
    font-size: 1.5em;
  }

  .link .resume {
    left: 28.5539215686%;
    width: 14.2744076797%;
    font-size: 1.375em;
  }

  .lstwwa .image {
    left: -0.1060379242%;
    width: 80px;
    height: auto;
  }

  .lstwwa .text {
    top: 16px;
    left: 31.6367265469%;
    width: 68.1231287425%;
    font-size: 0.875em;
  }

  .main {
    top: 400px;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text {
    left: 0;
    width: 66.125%;
  }

  .url {
    top: 220px;
    left: 0;
    right: 0;
    width: 79.8%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 20%;
  }

  .url .csdn {
    top: 83px;
    width: 20%;
  }

  .url .github {
    top: 83px;
    width: 20%;
  }

  .url .google {
    left: 25.4482110702%;
    width: 20%;
  }

  .url .imooc {
    left: 79.9812103656%;
    width: 20%;
  }

  .url .sina {
    right: 23.4439834024%;
    width: 20%;
  }

  .index .link-1 {
    top: 97px;
    left: 37.2%;
    width: 52.9%;
    height: 51px;
  }

  .index .lstwwa-2 {
    left: 10%;
    width: 40.8989309389%;
    height: 80px;
  }

  .url .github-1 {
    left: 79.9812030075%;
  }

  .url .github-2 {
    left: 56.5574091478%;
  }

  .url .github-3 {
    left: 25.4464285714%;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1em;
  }

  .buttom .text {
    width: 40.78515625%;
  }

  .head,
  .head .index {
    height: 160px;
  }

  .index .button {
    left: 89.9999999999%;
    width: 5.83203125%;
  }

  .link .home {
    left: -0.0028409091%;
    width: 14.0912282941%;
  }

  .link .link {
    font-size: 1.25em;
  }

  .link .linux {
    left: 57.1581332992%;
    width: 14.0912282941%;
  }

  .link .resources {
    left: 85.6071246169%;
    width: 14.3529749744%;
  }

  .link .resume {
    left: 28.7075459652%;
    width: 14.1949693564%;
  }

  .lstwwa .image {
    left: -0.140224359%;
    width: 60px;
    min-width: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 11px;
    left: 32.9383886255%;
    width: 94.0758293838%;
    font-size: 0.75em;
  }

  .main {
    top: 396px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .url {
    left: 10%;
    right: auto;
    width: 79.8333333333%;
    height: 242px;
  }

  .url .google {
    left: 25.654296875%;
  }

  .url .imooc {
    left: 80%;
  }

  .url .sina {
    right: 25.654296875%;
    font-style: normal;
  }

  .index .link-1 {
    top: 87px;
    left: 23.625%;
    width: 54.3749999999%;
    height: 48px;
  }

  .index .lstwwa-2 {
    top: 10px;
    left: 0;
    right: 0;
    width: 52.75%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    left: 79.9995106913%;
  }

  .url .github-2 {
    left: 54.3499535156%;
  }

  .url .github-3 {
    left: 25.6520037187%;
  }
}

@media(max-width: 500px) {
  .buttom .text {
    width: 40.784375%;
  }

  .index .button {
    top: 3px;
    left: 90%;
    width: 5.8%;
  }

  .link .home {
    left: 0;
    width: 17%;
  }

  .link .link {
    font-size: 0.938em;
  }

  .link .linux {
    left: auto;
    right: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .link .resources {
    left: 83%;
    width: 16.875%;
    height: 22px;
  }

  .link .resume {
    left: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .lstwwa .image {
    left: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 32.8850855745%;
    width: 66.9926650366%;
    font-size: 0.563em;
  }

  .main {
    top: 460px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .text {
    width: 80.2%;
  }

  .url {
    top: 185px;
    left: 0;
    right: 0;
    width: 79.8%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 25%;
  }

  .url .csdn {
    top: 90px;
    left: 75%;
    width: 25%;
  }

  .url .github {
    width: 25%;
  }

  .url .google {
    left: 37.5352443609%;
    width: 25%;
  }

  .url .imooc {
    top: 90px;
    left: 0;
    width: 25%;
  }

  .url .sina {
    right: 0;
    width: 25%;
  }

  .index .link-1 {
    top: 95px;
    left: 0;
    right: 0;
    width: 81.7307692307%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 14px;
    left: 0;
    right: 0;
    width: 81.8%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    top: 175px;
    left: 57.7145989974%;
  }

  .url .github-2 {
    top: 175px;
    left: 18.1978383458%;
  }

  .url .github-3 {
    top: 90px;
    left: 37.5352443609%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .buttom {
    left: auto;
  }

  .buttom .text {
    width: 40.78515625%;
  }

  .index .button {
    left: 89.9999999999%;
    width: 5.83203125%;
  }

  .link .home {
    width: 16.875%;
    height: 40px;
  }

  .link .linux {
    right: 27.49609375%;
    height: 25px;
  }

  .link .resources {
    left: 83.125%;
    height: 25px;
    font-size: 0.813em;
  }

  .link .resume {
    height: 25px;
    font-size: 0.813em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 33%;
    width: 78.2477341389%;
    font-size: 0.625em;
  }

  .main {
    top: 545px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .url {
    top: 195px;
    left: 0;
    right: 0;
    width: 79.75%;
    height: 322px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 40%;
  }

  .url .csdn {
    top: 255px;
    left: 0;
    width: 40%;
  }

  .url .github {
    width: 40%;
  }

  .url .google {
    left: 59.9970611285%;
    width: 40%;
  }

  .url .imooc {
    top: 85px;
    left: 59.9970611285%;
    width: 40%;
  }

  .url .sina {
    top: 85px;
    right: 60.0019592476%;
    width: 40%;
  }

  .index .link-1 {
    left: 0;
    right: 0;
    width: 81.799591002%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 80.25%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    top: 255px;
    left: 59.9970611285%;
  }

  .url .github-2 {
    top: 170px;
    left: 59.9970611285%;
  }

  .url .github-3 {
    top: 170px;
    left: 0;
  }
}