body {
  background-color: rgb(81, 94, 123);
  font: 400 0.75em/1.38 Helvetica;
  color: rgba(255, 255, 255, 0.35);
}

.index-2 p,
.lstwwa-2 p {
  margin-bottom: 1em;
}

.baidu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/baidu.png') rgb(124, 139, 169);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.black {
  position: absolute;
  width: 100%;
}

.bottom {
  left: 0;
}

.bottom .element {
  z-index: 4;
  width: 100%;
  height: 89px;
  background-color: #000000;
}

.bottom .text {
  bottom: 17px;
  left: 0;
  z-index: 5;
  width: 81%;
  min-height: 68px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.35);
}

.csdn {
  display: block;
  position: absolute;
  top: 107px;
  left: 0;
  z-index: 11;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/csdn.jpg') rgb(124, 139, 169);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cut {
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 441px;
  margin: 0 auto;
}

.element {
  top: 0;
  left: 0;
}

.github {
  display: block;
  position: absolute;
  top: 107px;
  height: 67px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: rgb(124, 139, 169);
  font-size: 1.667em;
  line-height: 3.5;
  text-align: center;
  color: rgb(0, 0, 0);
}

.google {
  display: block;
  position: absolute;
  top: 0;
  left: 27.5%;
  z-index: 9;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/google.png') rgb(124, 139, 169);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.head {
  position: absolute;
  top: 0;
  overflow: hidden;
}

.head .bottom {
  top: 167px;
  height: 30px;
  background-color: rgb(133, 145, 172);
}

.home {
  display: block;
  top: 0;
  left: 0;
  z-index: 24;
  width: 14.3356643356%;
  height: 70px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  text-align: center;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.image {
  display: block;
  left: 0;
  z-index: 19;
  width: 100px;
  height: auto;
}

.imooc {
  display: block;
  position: absolute;
  top: 0;
  left: 83.0283788404%;
  z-index: 12;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/imooc.png') rgb(124, 139, 169);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.index {
  position: absolute;
}

.index .black {
  z-index: 17;
  height: 135px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background-color: rgba(0, 0, 0, 0.49);
}

.link {
  position: absolute;
}

.linux {
  display: block;
  top: 0;
  left: 57.2006118881%;
  z-index: 22;
  width: 14.1608391608%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.lstwwa .text {
  position: absolute;
  top: 23px;
  left: 33.1967213114%;
  z-index: 18;
  width: 66.8032786885%;
  min-width: 98px;
  font-size: 1.333em;
  color: rgb(255, 255, 255);
}

.resources {
  display: block;
  top: 0;
  left: 85.6643356643%;
  z-index: 23;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resume {
  display: block;
  top: 0;
  left: 28.6713286713%;
  z-index: 21;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sina {
  display: block;
  position: absolute;
  top: 0;
  right: 27.5%;
  z-index: 13;
  width: 16.4583333333%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/sina-logo-white-744x430(%E5%B7%B2%E5%8E%BB%E5%BA%95).png') rgb(124, 139, 169);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top {
  height: 30px;
  background-color: rgb(133, 145, 172);
}

.url {
  position: absolute;
  top: 217px;
  left: 0;
  right: 0;
  z-index: 16;
  width: 79.97265625%;
  height: 174px;
  margin: 0 auto;
}

._select {
  display: block;
  position: absolute;
  top: 29px;
  left: 89.97265625%;
  z-index: 6;
  width: 6.4166666666%;
  height: 33px;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(81, 94, 123);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 1.083em;
  color: rgb(0, 0, 0);
}

.black-2 {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
}

.black-3 {
  top: 411px;
  left: 0;
  z-index: 1;
}

.github-1 {
  left: 83.0283788404%;
  z-index: 15;
  width: 16.9784594343%;
  background-image: url('../images/bilibili(%E5%B7%B2%E5%8E%BB%E5%BA%95).png');
}

.github-2 {
  left: 56.0429183151%;
  z-index: 14;
  width: 16.9784594343%;
  background-image: url('../images/timg(%E5%B7%B2%E5%8E%BB%E5%BA%95).png');
}

.github-3 {
  left: 27.5%;
  z-index: 10;
  width: 16.9791666666%;
  background-image: url('../images/github.png');
}

.index-1 {
  top: 31px;
  left: 0;
  z-index: 26;
  width: 100%;
  height: 135px;
}

.index-2 {
  top: 2005px;
  z-index: 7;
  width: 100%;
  height: 89px;
}

.link-1 {
  top: 48px;
  left: 42.1666666666%;
  z-index: 25;
  width: 47.6666666666%;
  height: 70px;
}

.lstwwa-2 {
  position: absolute;
  top: 17px;
  left: 1.5%;
  z-index: 20;
  width: 40.6666666666%;
  height: 100px;
}

@media(max-width: 1100px) {
  body {
    font-size: 0.625em;
  }

  .bottom {
    top: auto;
  }

  .bottom .text {
    font-size: 10px;
  }

  .cut {
    top: -1px;
    right: auto;
  }

  .head {
    left: 0;
    height: 453px;
  }

  .head .bottom {
    top: 173px;
  }

  .index .black {
    top: 10px;
    width: 81.7438692098%;
  }

  .link .home {
    left: -0.0406598514%;
    width: 14.3192379182%;
    height: 100px;
  }

  .link .link {
    min-width: 0;
    min-height: 0;
    font-size: 2.6em;
  }

  .link .linux {
    left: 57.0841078066%;
    width: 14.2785780669%;
    height: 20px;
  }

  .link .resources {
    left: 85.6110594795%;
    width: 14.3192379182%;
    height: 20px;
  }

  .link .resume {
    left: 28.5223048327%;
    width: 14.3192379182%;
    height: 20px;
  }

  .lstwwa {
    top: auto;
    left: auto;
    width: 122.3333333333%;
  }

  .lstwwa .image {
    left: -0.0173290204%;
    width: 90px;
    height: auto;
  }

  .lstwwa .text {
    top: 20px;
    left: 32.3186229205%;
    width: 67.609172828%;
    min-width: 0;
    min-height: 0;
    font-size: 1.5em;
  }

  .url {
    left: 0;
    right: auto;
    width: 79.8323863636%;
    height: 160px;
  }

  .url .baidu {
    width: 23.3592861205%;
    height: 40px;
    font-size: 1.6em;
  }

  .url .csdn {
    width: 23.1513083048%;
    height: 40px;
    font-size: 1.6em;
  }

  .url .github {
    width: 24.1929749715%;
    height: 40px;
    font-size: 2em;
  }

  .url .google {
    left: 37.5817690557%;
    width: 24.4027303754%;
    height: 40px;
    font-size: 1.6em;
  }

  .url .imooc {
    top: 107px;
    left: 76.5447241183%;
    width: 23.3592861205%;
    height: 40px;
    font-size: 1.6em;
  }

  .url .sina {
    right: 25.9581200227%;
    width: 23.5672639362%;
    height: 40px;
    font-size: 1.6em;
  }

  .index ._select {
    top: -9px;
    left: 89.971590909%;
    width: 6.4161931818%;
    font-size: 1.3em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .head .black-3 {
    top: 423px;
  }

  .index .link-1 {
    top: auto;
    left: auto;
    width: 99.9222033858%;
    height: 100px;
  }

  .index .lstwwa-2 {
    top: auto;
    left: auto;
    width: 40.1813706137%;
    height: 90px;
  }

  .index-1 {
    height: 158px;
  }

  .index-2 {
    left: auto;
  }

  .url .github-3 {
    left: 37.5817690557%;
  }
}

@media(max-width: 1000px) {
  .index .black {
    top: 6px;
  }

  .link .home {
    left: 0;
    width: 14.2744076797%;
    height: 88px;
    font-size: 2.2em;
  }

  .link .linux {
    left: 57.1103962418%;
    width: 14.3446180555%;
    font-size: 2.2em;
  }

  .link .resources {
    left: 85.666870915%;
    width: 14.2744076797%;
    font-size: 2.4em;
  }

  .link .resume {
    left: 28.5539215686%;
    width: 14.2744076797%;
    font-size: 2.2em;
  }

  .lstwwa .image {
    left: -0.1060379242%;
    width: 80px;
    height: auto;
  }

  .lstwwa .text {
    top: 16px;
    left: 31.6367265469%;
    width: 68.1231287425%;
    font-size: 1.4em;
  }

  .url {
    width: 79.83125%;
  }

  .url .baidu {
    width: 23.3612327909%;
  }

  .url .csdn {
    width: 23.153942428%;
  }

  .url .github {
    width: 24.1962609511%;
  }

  .url .google {
    left: 37.5860450563%;
    width: 24.4055068836%;
  }

  .url .imooc {
    left: 76.5527221526%;
    width: 23.3612327909%;
  }

  .url .sina {
    right: 25.9504067584%;
    width: 23.5704787234%;
  }

  .index ._select {
    left: 89.971875%;
    width: 6.4156249999%;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 99.9961682398%;
    height: 88px;
  }

  .index .lstwwa-2 {
    width: 40.8989309389%;
    height: 80px;
  }

  .index-1 {
    height: 142px;
  }

  .url .github-3 {
    left: 37.5860450563%;
  }
}

@media(max-width: 900px) {
  body {
    font-size: 0.625em;
  }

  .link .home {
    left: -0.0028409091%;
    width: 14.9318181818%;
    height: 96px;
    font-size: 2em;
  }

  .link .linux {
    left: 57.0170454545%;
    width: 14.4644886363%;
    font-size: 2em;
  }

  .link .resources {
    left: 85.7144886363%;
    width: 14.2315340909%;
    font-size: 2.2em;
  }

  .link .resume {
    left: 28.5539772727%;
    width: 14.2727272727%;
  }

  .lstwwa .image {
    left: -0.223721591%;
    width: 70px;
    min-width: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 32.3046875%;
    width: 67.2798295454%;
    font-size: 1.3em;
  }

  .url {
    width: 79.8315972222%;
  }

  .url .baidu {
    width: 23.3657858136%;
  }

  .url .csdn {
    width: 23.157162726%;
  }

  .url .github {
    width: 24.2002781641%;
  }

  .url .google {
    left: 37.5912726008%;
    width: 24.4089012517%;
  }

  .url .imooc {
    left: 76.5625%;
    width: 23.3657858136%;
  }

  .url .sina {
    right: 25.9388038942%;
    width: 23.5744089012%;
  }

  .index ._select {
    left: 89.9722222222%;
    width: 6.4166666666%;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 99.8580835603%;
    height: 96px;
  }

  .index .lstwwa-2 {
    width: 39.887034514%;
    height: 70px;
  }

  .index-1 {
    height: 144px;
  }

  .url .github-3 {
    left: 37.5912726008%;
  }
}

@media(max-width: 800px) {
  .link .home {
    left: 0;
    width: 14.0912282941%;
    height: 93px;
  }

  .link .linux {
    left: 57.1581332992%;
    width: 14.0912282941%;
  }

  .link .resources {
    left: 85.6071246169%;
    width: 14.3529749744%;
    font-size: 2em;
  }

  .link .resume {
    left: 28.7075459652%;
    width: 14.1949693564%;
    font-size: 2em;
  }

  .lstwwa .image {
    left: -0.140224359%;
    width: 60px;
    height: auto;
  }

  .lstwwa .text {
    top: 11px;
    left: 23.7019230769%;
    width: 75.9054487179%;
    font-size: 1.2em;
  }

  .url {
    width: 79.83203125%;
  }

  .url .baidu {
    width: 23.3690336463%;
  }

  .url .csdn {
    width: 23.1611893583%;
  }

  .url .github {
    width: 24.202856025%;
  }

  .url .google {
    left: 37.5978090766%;
    width: 24.4131455399%;
  }

  .url .imooc {
    left: 76.5771713615%;
    width: 23.3690336463%;
  }

  .url .sina {
    right: 25.9267410015%;
    width: 23.5768779342%;
  }

  .index ._select {
    left: 89.97265625%;
    width: 6.416015625%;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 99.9952102691%;
    height: 93px;
  }

  .index .lstwwa-2 {
    width: 39.7499760513%;
    height: 60px;
  }

  .index-1 {
    height: 141px;
  }

  .url .github-3 {
    left: 37.5978090766%;
  }
}

@media(max-width: 700px) {
  body {
    font-size: 0.563em;
  }

  .bottom .text {
    font-size: 9px;
  }

  .link .home {
    width: 14.091739766%;
    height: 92px;
  }

  .link .link {
    font-size: 18px;
  }

  .link .linux {
    left: 57.033991228%;
    width: 14.1666666666%;
  }

  .link .resources {
    left: 85.5116959064%;
    width: 14.4298245614%;
  }

  .link .resume {
    left: 28.490497076%;
    width: 14.2690058479%;
  }

  .lstwwa .image {
    left: -0.2485795455%;
    width: 50px;
    height: auto;
  }

  .lstwwa .text {
    top: 6px;
    left: 24.0767045454%;
    width: 75.4128196022%;
    font-size: 1.222em;
  }

  .url {
    width: 79.8303571428%;
  }

  .url .baidu {
    width: 23.3738644304%;
    font-size: 1.778em;
  }

  .url .csdn {
    width: 23.1670160726%;
    font-size: 1.778em;
  }

  .url .github {
    width: 24.2096436058%;
    font-size: 2.222em;
  }

  .url .google {
    left: 37.607267645%;
    width: 24.4192872117%;
    font-size: 1.778em;
  }

  .url .imooc {
    left: 76.5953878406%;
    width: 23.3738644304%;
    font-size: 1.778em;
  }

  .url .sina {
    right: 25.9063591893%;
    width: 23.5835080363%;
    font-size: 1.778em;
  }

  .index ._select {
    left: 89.9709821428%;
    width: 6.4151785714%;
    font-size: 1.444em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 99.7865158288%;
    height: 92px;
  }

  .index .lstwwa-2 {
    width: 40.9980841164%;
    height: 50px;
  }

  .index-1 {
    height: 140px;
  }

  .url .github-3 {
    left: 37.607267645%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 0.5em;
  }

  .bottom .text {
    font-size: 8px;
  }

  .link .home {
    height: 47px;
    font-size: 16px;
  }

  .link .link {
    width: 14.3328508174%;
  }

  .link .linux {
    left: 57.3399182561%;
    height: 24px;
    font-size: 1.875em;
  }

  .link .resources {
    left: 85.6628916893%;
    height: 24px;
    font-size: 16px;
  }

  .link .resume {
    left: 28.6678303814%;
    height: 24px;
    font-size: 16px;
  }

  .lstwwa .image {
    left: -0.10384216%;
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 27.7703604806%;
    width: 72.0071206052%;
    font-size: 1.25em;
  }

  .url {
    width: 79.8333333333%;
  }

  .url .baidu {
    width: 23.382045929%;
    font-size: 2em;
  }

  .url .csdn {
    width: 23.1732776617%;
    font-size: 2em;
  }

  .url .github {
    width: 24.2171189979%;
    font-size: 2.5em;
  }

  .url .google {
    left: 37.6174321503%;
    width: 24.4258872651%;
    font-size: 2em;
  }

  .url .imooc {
    left: 76.6179540709%;
    width: 23.382045929%;
    font-size: 2em;
  }

  .url .sina {
    right: 25.8872651356%;
    width: 23.5908141962%;
    font-size: 2em;
  }

  .index ._select {
    left: 89.9713541666%;
    width: 6.4166666666%;
    font-size: 1.625em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 99.9957425068%;
    height: 47px;
  }

  .index .lstwwa-2 {
    width: 42.9985524523%;
  }

  .index-1 {
    height: 135px;
  }

  .url .github-3 {
    left: 37.6174321503%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.438em;
  }

  .bottom .text {
    font-size: 7px;
  }

  .index .black {
    top: 14px;
    width: 81.8330605564%;
  }

  .link .home {
    width: 17%;
  }

  .link .link {
    font-size: 2.143em;
  }

  .link .linux {
    left: auto;
    right: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .link .resources {
    left: 83%;
    width: 16.875%;
    height: 23px;
  }

  .link .resume {
    left: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .lstwwa {
    width: 122.2%;
  }

  .lstwwa .image {
    left: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 15.7004830917%;
    width: 84.2995169082%;
    font-size: 1.286em;
  }

  .url {
    width: 79.83125%;
  }

  .url .baidu {
    width: 23.33203125%;
    font-size: 2.286em;
  }

  .url .csdn {
    width: 23.125%;
    font-size: 2.286em;
  }

  .url .github {
    width: 24.1640625%;
    font-size: 2.857em;
  }

  .url .google {
    left: 37.5390625%;
    width: 24.375%;
    font-size: 2.286em;
  }

  .url .imooc {
    left: 76.45703125%;
    width: 23.33203125%;
    font-size: 2.286em;
  }

  .url .sina {
    right: 26.04296875%;
    width: 23.5390625%;
    font-size: 2.286em;
  }

  .index ._select {
    left: 89.971875%;
    width: 6.4156249999%;
    font-size: 1.857em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 81.7307692307%;
  }

  .index .lstwwa-2 {
    width: 67.7577741407%;
  }

  .index-1 {
    height: 149px;
  }

  .url .github-3 {
    left: 37.5390625%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 0.375em;
  }

  .bottom .text {
    font-size: 6px;
  }

  .index .black {
    top: 0;
    width: 81.799591002%;
  }

  .link .home {
    width: 16.875%;
    font-size: 2.5em;
  }

  .link .linux {
    right: 27.49609375%;
    height: 20px;
    font-size: 2.5em;
  }

  .link .resources {
    left: 83.125%;
    height: 20px;
    font-size: 2.167em;
  }

  .link .resume {
    height: 20px;
    font-size: 2.167em;
  }

  .lstwwa {
    width: 122.2499999999%;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 21.752265861%;
    width: 78.2477341389%;
    font-size: 1.667em;
  }

  .url {
    width: 79.828125%;
  }

  .url .baidu {
    width: 23.330078125%;
    font-size: 2.667em;
  }

  .url .csdn {
    width: 37.9166666666%;
    font-size: 2.667em;
  }

  .url .github {
    width: 24.1650390625%;
    font-size: 3.333em;
  }

  .url .google {
    width: 39.5833333333%;
    font-size: 2.667em;
  }

  .url .imooc {
    left: 76.455078125%;
    width: 23.330078125%;
    font-size: 2.667em;
  }

  .url .sina {
    right: 26.0400390624%;
    width: 23.5400390625%;
    font-size: 2.667em;
  }

  .index ._select {
    left: 89.97265625%;
    width: 6.4140625%;
    font-size: 2.167em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 81.799591002%;
  }

  .index .lstwwa-2 {
    width: 67.6891615541%;
  }

  .index-1 {
    height: 135px;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 0.313em;
  }

  .bottom .text {
    font-size: 5px;
  }

  .index .black {
    width: 81.7438692098%;
  }

  .link .link {
    width: 16.875878952%;
    font-size: 2.4em;
    line-height: 1.7;
  }

  .link .linux {
    right: 27.4962237616%;
  }

  .link .resources {
    left: auto;
    right: 0.1145893015%;
  }

  .link .resume {
    left: 27.5014323662%;
  }

  .lstwwa {
    width: 122.3333333333%;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 12px;
    left: 25%;
    width: 75%;
    font-size: 1.6em;
  }

  .url {
    width: 80%;
  }

  .url .baidu {
    width: 40.4166666666%;
    font-size: 3.2em;
  }

  .url .csdn {
    top: 60px;
    left: 59.5833333333%;
    font-size: 3.2em;
  }

  .url .github {
    width: 40.4166666666%;
    font-size: 4em;
  }

  .url .google {
    left: 59.5833333333%;
    font-size: 3.2em;
  }

  .url .imooc {
    top: 120px;
    left: 59.5833333333%;
    width: 40.4166666666%;
    font-size: 3.2em;
  }

  .url .sina {
    top: 60px;
    right: 26.0416666666%;
    width: 40.4166666666%;
    font-size: 3.2em;
  }

  .index ._select {
    left: 89.96875%;
    width: 6.4166666666%;
    font-size: 2.6em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .link-1 {
    width: 81.6459468664%;
  }

  .index .lstwwa-2 {
    width: 65.3950953678%;
  }

  .url .github-3 {
    top: 120px;
    left: 0;
  }
}

@media(max-width: 200px) {
  body {
    font-size: 0.25em;
  }

  .bottom {
    top: 2211px;
  }

  .bottom .text {
    font-size: 4px;
  }

  .head {
    height: 122px;
  }

  .head .bottom {
    top: 112px;
    height: 10px;
  }

  .index .black {
    width: 100%;
    height: 100px;
  }

  .link .home {
    height: 25px;
    line-height: 2;
  }

  .link .link {
    width: 16.6219325153%;
    font-size: 2em;
  }

  .link .linux {
    right: 28.5563650306%;
    height: 15px;
    line-height: 2;
  }

  .link .resources {
    right: 0.5943251533%;
    height: 15px;
  }

  .link .resume {
    left: 27.0897239263%;
    height: 15px;
    line-height: 2;
  }

  .lstwwa {
    top: 10px;
    left: 0;
    width: 100%;
  }

  .lstwwa .image {
    left: -0.5357142858%;
    width: 40px;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 29.6651785714%;
    width: 69.6763392857%;
    font-size: 1.5em;
  }

  .url {
    top: 145px;
    left: 0;
    right: 0;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 40%;
    height: 30px;
    font-size: 4em;
  }

  .url .csdn {
    top: 100px;
    left: 0;
    width: 40%;
    height: 30px;
    font-size: 4em;
  }

  .url .github {
    width: 40%;
    height: 30px;
    font-size: 5em;
  }

  .url .google {
    left: 60.205078125%;
    width: 40%;
    height: 30px;
    font-size: 4em;
  }

  .url .imooc {
    top: 50px;
    left: 60.205078125%;
    width: 40%;
    height: 30px;
    font-size: 4em;
  }

  .url .sina {
    top: 50px;
    right: 60.21484375%;
    width: 40%;
    height: 30px;
    font-size: 4em;
  }

  .index ._select {
    width: 6.4140625%;
    font-size: 3.25em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    height: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .head .black-3 {
    left: 115.9999999999%;
    height: 15px;
  }

  .index .link-1 {
    top: 65px;
    left: 0;
    right: 0;
    width: 81%;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 81%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 100px;
  }

  .index-2 {
    left: -4%;
  }

  .url .github-1 {
    top: 150px;
    left: 59.7460937499%;
  }

  .url .github-2 {
    top: 150px;
    left: 0;
  }

  .url .github-3 {
    top: 100px;
    left: 60%;
  }
}