body {
  background-color: #aec6d4;
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.lstwwa-2 p,
.lstwwa-4 p {
  margin-bottom: 1em;
}

.baidu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/baidu.png') rgb(154, 172, 210);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.black {
  width: 100%;
}

.bottom {
  position: absolute;
  top: 165px;
  left: 0;
  z-index: 13;
  height: 30px;
  background-color: rgba(162, 173, 197, 0.54);
}

.buttom {
  position: absolute;
  top: 1400px;
  left: 0;
  z-index: 12;
  height: 50px;
}

.buttom .text {
  bottom: 11px;
  left: 0.0833333333%;
  z-index: 10;
  width: 40.75%;
  height: 34px;
  font-size: 0.375em;
  color: rgba(255, 255, 255, 0.51);
}

.csdn {
  display: block;
  position: absolute;
  top: 107px;
  left: 0;
  z-index: 3;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/csdn.jpg') rgb(154, 172, 210);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 24;
  width: 100%;
  height: 195px;
  margin: 0 auto;
  overflow: hidden;
}

.github {
  display: block;
  position: absolute;
  top: 107px;
  height: 67px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: rgb(154, 172, 210);
  font-size: 1.25em;
  line-height: 3.5;
  text-align: center;
  color: rgb(0, 0, 0);
}

.google {
  display: block;
  position: absolute;
  top: 0;
  left: 27.5%;
  z-index: 1;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/google.png') rgb(154, 172, 210);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.head .index {
  top: 30px;
  left: 0;
  right: 0;
  z-index: 23;
  height: 135px;
  margin: 0 auto;
  background: url('../images/ac5afa59ada34de634b6be4db5a59b24(5).png') rgba(0, 0, 0, 0.3);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
}

.home {
  display: block;
  top: 0;
  left: 0;
  z-index: 21;
  width: 14.3356643356%;
  height: 70px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 16;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.imooc {
  display: block;
  position: absolute;
  top: 0;
  left: 83.0283788404%;
  z-index: 4;
  width: 16.9791666666%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/imooc.png') rgb(154, 172, 210);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.index {
  width: 100%;
}

.index .black {
  bottom: 0;
  left: 0.0833333333%;
  z-index: 9;
  height: 50px;
  background-color: rgb(41, 47, 62);
}

.link {
  position: absolute;
}

.linux {
  display: block;
  top: 0;
  left: 57.2006118881%;
  z-index: 19;
  width: 14.1608391608%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.lstwwa {
  position: absolute;
}

.lstwwa .text {
  top: 23px;
  left: 33.1967213114%;
  z-index: 15;
  width: 66.8032786885%;
  min-width: 98px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.me {
  display: block;
  position: absolute;
  top: 15px;
  left: 90%;
  z-index: 11;
  width: 5.1666666666%;
  height: 25px;
  border-radius: 3px;
  background-color: rgb(133, 145, 172);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resources {
  display: block;
  top: 0;
  left: 85.6643356643%;
  z-index: 20;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resume {
  display: block;
  top: 0;
  left: 28.6713286713%;
  z-index: 18;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.sina {
  display: block;
  position: absolute;
  top: 0;
  right: 27.5%;
  z-index: 5;
  width: 16.4583333333%;
  height: 67px;
  border-radius: 3px;
  background: url('../images/sina-logo-white-744x430(%E5%B7%B2%E5%8E%BB%E5%BA%95).png') rgb(154, 172, 210);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 14;
  height: 30px;
  margin: 0 auto;
  background-color: rgba(162, 173, 197, 0.54);
}

.url {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  z-index: 8;
  width: 79.97265625%;
  height: 174px;
  margin: 0 auto;
}

.github-1 {
  left: 83.0283788404%;
  z-index: 7;
  width: 16.9784594343%;
  background-image: url('../images/bilibili(%E5%B7%B2%E5%8E%BB%E5%BA%95).png');
}

.github-2 {
  left: 56.0429183151%;
  z-index: 6;
  width: 16.9784594343%;
  background-image: url('../images/timg(%E5%B7%B2%E5%8E%BB%E5%BA%95).png');
}

.github-3 {
  left: 27.5%;
  z-index: 2;
  width: 16.9791666666%;
  background-image: url('../images/github.png');
}

.link-1 {
  top: 48px;
  left: 42.1666666666%;
  z-index: 22;
  width: 47.6666666666%;
  height: 70px;
}

.lstwwa-2 {
  top: 17px;
  left: 1.5%;
  z-index: 17;
  width: 40.6666666666%;
  height: 100px;
}

@media(max-width: 1100px) {
  body {
    font-size: 0.938em;
  }

  .buttom .text {
    width: 40.7855113636%;
    font-size: 0.4em;
  }

  .cut {
    right: auto;
  }

  .head {
    left: 0;
    height: 190px;
  }

  .head .black {
    height: 25px;
  }

  .head .index {
    top: 25px;
    left: 0;
    right: auto;
    height: 140px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index {
    top: 1365px;
    left: auto;
  }

  .index .button {
    left: 89.9999999999%;
    width: 5.8323863636%;
    font-size: 1.067em;
  }

  .link .home {
    left: -0.0406598514%;
    width: 14.3192379182%;
  }

  .link .link {
    min-width: 0;
    min-height: 0;
    font-size: 1.733em;
  }

  .link .linux {
    left: 57.0841078066%;
    width: 14.2785780669%;
  }

  .link .resources {
    left: 85.6110594795%;
    width: 14.3192379182%;
  }

  .link .resume {
    left: 28.5223048327%;
    width: 14.3192379182%;
  }

  .lstwwa .image {
    left: -0.0173290204%;
    width: 90px;
    height: auto;
  }

  .lstwwa .text {
    top: 20px;
    left: 32.3186229205%;
    width: 67.609172828%;
    min-width: 0;
    min-height: 0;
    font-size: 15px;
  }

  .url {
    top: 210px;
    left: 10%;
    right: auto;
    width: 80%;
    height: 121px;
  }

  .url .baidu {
    width: 22%;
    height: 50px;
    font-size: 1.067em;
  }

  .url .csdn {
    top: 71px;
    width: 22%;
    height: 50px;
    font-size: 1.067em;
  }

  .url .github {
    top: 71px;
    width: 22%;
    height: 50px;
    font-size: 1.333em;
  }

  .url .google {
    left: 25.5%;
    width: 22%;
    height: 50px;
    font-size: 1.067em;
  }

  .url .imooc {
    left: 78.0007102272%;
    width: 22%;
    height: 50px;
    font-size: 1.067em;
  }

  .url .sina {
    right: 25.5%;
    width: 22%;
    height: 50px;
    font-size: 1.067em;
  }

  .index .link-1 {
    left: 42.1818181818%;
    width: 47.8181818181%;
    height: 100px;
  }

  .index .lstwwa-2 {
    top: auto;
    left: auto;
    width: 40.1813706137%;
    height: 90px;
  }

  .url .github-1 {
    left: 78.0007102272%;
  }

  .url .github-2 {
    left: 52.5017755681%;
  }

  .url .github-3 {
    left: 25.5%;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 0.875em;
  }

  .buttom .text {
    width: 40.7859375%;
    font-size: 0.429em;
  }

  .head {
    height: 205px;
  }

  .head .bottom {
    top: 180px;
  }

  .head .index {
    height: 155px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    left: 90%;
    width: 5.8328125%;
    font-size: 1.143em;
  }

  .link .home {
    left: 0;
    width: 14.2744076797%;
    height: 50px;
    font-size: 1.571em;
  }

  .link .linux {
    left: 57.1103962418%;
    width: 14.3446180555%;
    font-size: 1.571em;
  }

  .link .resources {
    left: 85.666870915%;
    width: 14.2744076797%;
    font-size: 1.714em;
  }

  .link .resume {
    left: 28.5539215686%;
    width: 14.2744076797%;
    font-size: 1.571em;
  }

  .lstwwa .image {
    left: -0.1060379242%;
    width: 80px;
    height: auto;
  }

  .lstwwa .text {
    top: 16px;
    left: 31.6367265469%;
    width: 68.1231287425%;
    font-size: 14px;
  }

  .url {
    top: 220px;
    left: 0;
    right: 0;
    width: 79.8%;
    height: 110px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 20%;
    font-size: 1.143em;
  }

  .url .csdn {
    top: 60px;
    width: 20%;
    font-size: 1.143em;
  }

  .url .github {
    top: 60px;
    width: 20%;
    font-size: 1.429em;
  }

  .url .google {
    left: 25.4482110702%;
    width: 20%;
    font-size: 1.143em;
  }

  .url .imooc {
    left: 79.9812103656%;
    width: 20%;
    font-size: 1.143em;
  }

  .url .sina {
    right: 23.4439834024%;
    width: 20%;
    font-size: 1.143em;
  }

  .index .link-1 {
    top: 97px;
    left: 37.2%;
    width: 52.9%;
    height: 51px;
  }

  .index .lstwwa-2 {
    top: 17px;
    left: 10%;
    width: 40.8989309389%;
    height: 80px;
  }

  .url .github-1 {
    left: 79.9812103656%;
  }

  .url .github-2 {
    left: 56.5567994989%;
  }

  .url .github-3 {
    left: 25.4482110702%;
  }
}

@media(max-width: 900px) {
  body {
    font-size: 0.813em;
  }

  .buttom .text {
    width: 40.7864583333%;
    font-size: 0.462em;
  }

  .head {
    height: 210px;
  }

  .head .bottom {
    top: 185px;
  }

  .head .index {
    height: 160px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    width: 5.8333333333%;
    font-size: 1.231em;
  }

  .link .home {
    left: -0.0028409091%;
    width: 14.9318181818%;
    font-size: 1.538em;
  }

  .link .linux {
    left: 57.0170454545%;
    width: 14.4644886363%;
    font-size: 1.538em;
  }

  .link .resources {
    left: 85.7144886363%;
    width: 14.2315340909%;
    font-size: 1.692em;
  }

  .link .resume {
    left: 28.5539772727%;
    width: 14.2727272727%;
    font-size: 1.692em;
  }

  .lstwwa .image {
    left: 0;
    width: 70px;
    min-width: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 15px;
    left: 12.5%;
    width: 34.0277777777%;
    font-size: 13px;
  }

  .url {
    left: 10%;
    right: auto;
    width: 80%;
    height: 95px;
  }

  .url .baidu,
  .url .csdn {
    font-size: 1.231em;
  }

  .url .github {
    font-size: 1.538em;
  }

  .url .google {
    left: 25.4999999999%;
    font-size: 1.231em;
  }

  .url .imooc {
    left: 80%;
    font-size: 1.231em;
  }

  .url .sina {
    right: 25.5%;
    font-size: 1.231em;
  }

  .index .link-1 {
    top: 100px;
    left: 37.2222222222%;
    width: 52.7777777777%;
    height: 49px;
  }

  .index .lstwwa-2 {
    top: 18px;
    width: 78.6666666666%;
    height: 70px;
  }

  .url .github-1 {
    left: 80%;
  }

  .url .github-2 {
    left: 54.5008680555%;
  }

  .url .github-3 {
    left: 25.4999999999%;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 0.75em;
  }

  .buttom .text {
    width: 40.78515625%;
    font-size: 0.5em;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    left: 89.9999999999%;
    width: 5.83203125%;
    font-size: 1.333em;
  }

  .link .home {
    left: 0;
    width: 14.0912282941%;
  }

  .link .link {
    font-size: 1.667em;
  }

  .link .linux {
    left: 57.1581332992%;
    width: 14.0912282941%;
  }

  .link .resources {
    left: 85.6071246169%;
    width: 14.3529749744%;
  }

  .link .resume {
    left: 28.7075459652%;
    width: 14.1949693564%;
  }

  .lstwwa .image {
    left: -0.140224359%;
    width: 60px;
    height: auto;
  }

  .lstwwa .text {
    top: 11px;
    left: 32.96875%;
    width: 67.03125%;
    font-size: 12px;
  }

  .url {
    height: 110px;
  }

  .url .baidu,
  .url .csdn,
  .url .imooc {
    font-size: 1.333em;
  }

  .url .github {
    font-size: 1.667em;
  }

  .url .google {
    left: 25.654296875%;
    font-size: 1.333em;
  }

  .url .sina {
    right: 25.654296875%;
    font-style: normal;
    font-size: 1.333em;
  }

  .index .link-1 {
    top: 87px;
    left: 23.625%;
    width: 54.3749999999%;
    height: 48px;
  }

  .index .lstwwa-2 {
    top: 10px;
    left: 0;
    right: 0;
    width: 52.75%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-2 {
    left: 54.345703125%;
  }

  .url .github-3 {
    left: 25.654296875%;
  }
}

@media(max-width: 700px) {
  body {
    font-size: 0.688em;
  }

  .buttom .text {
    width: 40.7857142857%;
    font-size: 0.545em;
  }

  .head {
    height: 190px;
  }

  .head .bottom {
    top: 165px;
  }

  .head .index {
    left: 0;
    right: 0;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    left: 90%;
    width: 5.8325892857%;
    font-size: 1.455em;
  }

  .link .home {
    width: 14.091739766%;
  }

  .link .link {
    font-size: 1.636em;
  }

  .link .linux {
    left: 57.033991228%;
    width: 14.1666666666%;
    height: 24px;
  }

  .link .resources {
    left: 85.5116959064%;
    width: 14.4298245614%;
    height: 24px;
  }

  .link .resume {
    left: 28.490497076%;
    width: 14.2690058479%;
    height: 24px;
  }

  .lstwwa .image {
    left: -0.2485795455%;
    width: 50px;
    height: auto;
  }

  .lstwwa .text {
    top: 6px;
    left: 33.0357142857%;
    width: 66.9642857142%;
    font-size: 11px;
  }

  .url {
    top: 205px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu,
  .url .csdn,
  .url .imooc {
    font-size: 1.455em;
  }

  .url .github {
    font-size: 1.818em;
  }

  .url .google {
    left: 25.4999999999%;
    font-size: 1.455em;
  }

  .url .sina {
    right: 25.9063591893%;
    font-size: 1.455em;
  }

  .index .link-1 {
    top: 83px;
    left: 0;
    right: 0;
    height: 49px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 13px;
    left: 23.5714285714%;
    right: auto;
    width: 52.8571428571%;
    height: 50px;
  }

  .url .github-2 {
    left: 54.0959821428%;
  }

  .url .github-3 {
    left: 25.4999999999%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 0.625em;
  }

  .buttom .text {
    width: 40.7864583333%;
    font-size: 0.6em;
  }

  .head {
    height: 185px;
  }

  .head .bottom {
    top: 160px;
  }

  .head .index {
    left: 0;
    right: auto;
    height: 135px;
  }

  .head .top,
  .index .lstwwa-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index {
    left: auto;
  }

  .index .button {
    top: 3px;
    width: 4.8333333333%;
    height: 44px;
    font-size: 1.6em;
  }

  .link .home {
    height: 47px;
    font-size: 1.6em;
  }

  .link .link {
    width: 14.3328508174%;
  }

  .link .linux {
    left: 57.3399182561%;
    font-size: 1.5em;
  }

  .link .resources {
    left: 85.6628916893%;
    font-size: 1.6em;
  }

  .link .resume {
    left: 28.6678303814%;
    font-size: 1.6em;
  }

  .lstwwa .image {
    left: -0.10384216%;
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 32.9166666666%;
    width: 67.0833333333%;
    font-size: 10px;
  }

  .url {
    top: 195px;
    left: 0;
    right: 0;
    width: 79.8333333333%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    font-size: 1.6em;
  }

  .url .csdn {
    top: 55px;
    font-size: 1.6em;
  }

  .url .github {
    top: 55px;
    font-size: 2em;
  }

  .url .google {
    left: 25.4488517745%;
    font-size: 1.6em;
  }

  .url .imooc {
    left: 80.1050365344%;
    font-size: 1.6em;
  }

  .url .sina {
    right: 25.4501565762%;
    font-size: 1.6em;
  }

  .index .link-1 {
    top: 75px;
    left: 0;
    right: 0;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    left: 80.1050365344%;
  }

  .url .github-2 {
    left: 54.5518006263%;
  }

  .url .github-3 {
    left: 25.4488517745%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.563em;
  }

  .buttom .text {
    width: 40.784375%;
    font-size: 0.667em;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    width: 5.8%;
    font-size: 1.778em;
  }

  .link .home {
    width: 17%;
  }

  .link .link {
    font-size: 1.667em;
  }

  .link .linux {
    left: auto;
    right: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .link .resources {
    left: 83%;
    width: 16.875%;
    height: 22px;
  }

  .link .resume {
    left: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .lstwwa .image {
    left: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 32.8850855745%;
    width: 66.9926650366%;
    font-size: 9px;
  }

  .url {
    top: 200px;
    left: 0;
    right: 0;
    width: 79.8%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 25%;
    font-size: 1.778em;
  }

  .url .csdn {
    top: 60px;
    left: 75%;
    width: 25%;
    font-size: 1.778em;
  }

  .url .github {
    width: 25%;
    font-size: 2.222em;
  }

  .url .google {
    left: 37.5352443609%;
    width: 25%;
    font-size: 1.778em;
  }

  .url .imooc {
    top: 60px;
    left: 0;
    width: 25%;
    font-size: 1.778em;
  }

  .url .sina {
    right: 0;
    width: 25%;
    font-size: 1.778em;
  }

  .index .link-1 {
    top: 77px;
    left: 0;
    right: 0;
    width: 81.7307692307%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 14px;
    left: 0;
    right: 0;
    width: 81.8%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    top: 120px;
    left: 58.2158521303%;
  }

  .url .github-2 {
    top: 120px;
    left: 16.9447055137%;
  }

  .url .github-3 {
    top: 60px;
    left: 37.5352443609%;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 0.625em;
  }

  .buttom {
    left: auto;
  }

  .buttom .text {
    width: 40.78515625%;
    font-size: 0.6em;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    left: 89.9999999999%;
    width: 5.83203125%;
    font-size: 1.6em;
  }

  .link .home {
    width: 16.875%;
    height: 40px;
    font-size: 1.5em;
  }

  .link .linux {
    right: 27.49609375%;
    height: 25px;
    font-size: 1.5em;
  }

  .link .resources {
    left: 83.125%;
    height: 25px;
    font-size: 1.3em;
  }

  .link .resume {
    height: 25px;
    font-size: 1.3em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 33%;
    width: 78.2477341389%;
    font-size: 10px;
  }

  .url {
    top: 195px;
    left: 0;
    right: 0;
    width: 79.75%;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    width: 40%;
    font-size: 1.6em;
  }

  .url .csdn {
    top: 180px;
    left: 0;
    width: 40%;
    font-size: 1.6em;
  }

  .url .github {
    width: 40%;
    font-size: 2em;
  }

  .url .google {
    left: 59.9970611285%;
    width: 40%;
    font-size: 1.6em;
  }

  .url .imooc {
    left: 59.9333855799%;
    width: 40%;
    font-size: 1.6em;
  }

  .url .sina {
    top: 60px;
    right: 60.0019592476%;
    width: 40%;
    font-size: 1.6em;
  }

  .index .link-1 {
    top: 80px;
    left: 0;
    right: 0;
    width: 81.799591002%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 80.25%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    top: 180px;
    left: 59.9970611285%;
  }

  .url .github-2 {
    left: 59.9970611285%;
  }

  .url .github-3 {
    top: 120px;
    left: 0;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 0.5em;
  }

  .buttom .text {
    left: 0;
    width: 50.3333333333%;
    font-size: 0.75em;
  }

  .head {
    height: 165px;
  }

  .head .black {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .head .bottom {
    top: 140px;
  }

  .head .index {
    left: 0;
    right: 0;
    height: 116px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .button {
    left: 90%;
    width: 5.8333333333%;
    font-size: 2em;
  }

  .link .home {
    height: 30px;
    font-size: 12px;
  }

  .link .link {
    width: 16.875878952%;
    line-height: 1.7;
  }

  .link .linux {
    right: 27.4962237616%;
    height: 20px;
    font-size: 12px;
  }

  .link .resources {
    left: auto;
    right: 0.1145893015%;
    height: 20px;
    font-size: 1.5em;
  }

  .link .resume {
    left: 27.5014323662%;
    height: 20px;
    font-size: 1.5em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 12px;
    width: 79.5833333333%;
    font-size: 8px;
  }

  .url {
    top: 170px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    font-size: 2em;
  }

  .url .csdn {
    top: 120px;
    font-size: 2em;
  }

  .url .github {
    font-size: 2.5em;
  }

  .url .google,
  .url .imooc {
    left: 60%;
    font-size: 2em;
  }

  .url .sina {
    right: 60%;
    font-size: 2em;
  }

  .index .link-1 {
    top: 75px;
    left: 0;
    right: 0;
    width: 81.6666666666%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 10px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    left: 60%;
  }

  .url .github-2 {
    top: 180px;
    left: 0;
  }

  .url .github-3 {
    left: 59.9153645833%;
  }
}

@media(max-width: 200px) {
  body {
    font-size: 0.375em;
  }

  .buttom .text {
    width: 56.9999999999%;
    font-size: 1em;
  }

  .head {
    height: 120px;
  }

  .head .black {
    left: 0;
    right: 0;
    height: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .head .bottom {
    top: 110px;
  }

  .head .index {
    top: 10px;
    left: 0;
    right: auto;
    height: 100px;
  }

  .index .button {
    left: 94.1640625%;
    width: 5.828125%;
    font-size: 2.667em;
  }

  .link .home {
    line-height: 2;
  }

  .link .link {
    width: 16.6219325153%;
    font-size: 1.333em;
  }

  .link .linux {
    right: 28.5563650306%;
    height: 15px;
    line-height: 2;
  }

  .link .resources {
    right: 0.5943251533%;
    height: 15px;
  }

  .link .resume {
    left: 27.0897239263%;
    height: 15px;
    line-height: 2;
  }

  .lstwwa .image {
    left: -0.5357142858%;
    width: 40px;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    width: 66.6666666666%;
    font-size: 6px;
  }

  .url {
    top: 135px;
    left: 0;
    right: 0;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .baidu {
    height: 30px;
    font-size: 2.667em;
  }

  .url .csdn {
    top: 100px;
    height: 30px;
    font-size: 2.667em;
  }

  .url .github {
    height: 30px;
    font-size: 3.333em;
  }

  .url .google {
    left: 60.205078125%;
    height: 30px;
    font-size: 2.667em;
  }

  .url .imooc {
    top: 50px;
    left: 60.205078125%;
    height: 30px;
    font-size: 2.667em;
  }

  .url .sina {
    top: 50px;
    right: 60.21484375%;
    height: 30px;
    font-size: 2.667em;
  }

  .index .link-1 {
    top: 65px;
    left: 0;
    right: 0;
    width: 81%;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 81%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .url .github-1 {
    top: 150px;
    left: 59.7460937499%;
  }

  .url .github-2 {
    top: 150px;
  }

  .url .github-3 {
    top: 100px;
    left: 60%;
  }
}