body {
  background-color: #aec6d4;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.index-1 p,
.lstwwa-4 p {
  margin-bottom: 1em;
}

.black {
  position: absolute;
  width: 100%;
}

.buttom {
  top: 1585px;
  z-index: 19;
  height: 50px;
}

.buttom .text {
  bottom: 11px;
  left: 0.0833333333%;
  z-index: 18;
  width: 40.75%;
  height: 34px;
  font-size: 0.375em;
  color: rgba(255, 255, 255, 0.51);
}

.container {
  position: absolute;
}

.container .black {
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(162, 173, 197, 0.54);
}

.container .text {
  top: 0;
  width: 42.3333333333%;
  min-height: 30px;
  font-size: 1.438em;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
}

.cut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
  width: 100%;
  height: 135px;
  margin: 0 auto;
  overflow: hidden;
}

.head .index {
  top: 0;
  z-index: 15;
  height: 135px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: url('../images/ac5afa59ada34de634b6be4db5a59b24(10).png') rgba(0, 0, 0, 0.3);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
}

.home {
  display: block;
  top: 0;
  left: 0;
  z-index: 13;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(101, 119, 154);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.index {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

.index .black {
  bottom: 0;
  left: 0.0833333333%;
  z-index: 17;
  height: 50px;
  background-color: rgb(41, 47, 62);
}

.link {
  position: absolute;
}

.linux {
  display: block;
  top: 0;
  left: 57.2006118881%;
  z-index: 11;
  width: 14.1608391608%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(101, 119, 154);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.lstwwa .text {
  top: 23px;
  left: 33.1967213114%;
  z-index: 7;
  width: 66.8032786885%;
  min-width: 98px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.resources {
  display: block;
  top: 0;
  left: 85.6643356643%;
  z-index: 12;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(101, 119, 154);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resume {
  display: block;
  top: 0;
  left: 28.6713286713%;
  z-index: 10;
  width: 14.3356643356%;
  height: 70px;
  border-radius: 20px;
  background-color: rgb(144, 163, 147);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.rongyu .black {
  z-index: 4;
}

.rongyu .container {
  height: 325px;
}

.rongyu .text {
  left: 28.83203125%;
  z-index: 5;
}

.text {
  position: absolute;
}

.zhengshu .black {
  z-index: 24;
}

.zhengshu .container {
  height: 185px;
}

.zhengshu .text {
  left: 28.8333333333%;
  z-index: 25;
}

._1 {
  top: 75px;
  width: 20.4166666666%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

._2,
._3 {
  top: 75px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._4 {
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._button {
  display: block;
  position: fixed;
  top: 208px;
  right: 1%;
  z-index: 27;
  width: 17.2994791666%;
  height: 91px;
  border-radius: 20px;
  background-color: #debdb6;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.rongyu ._1 {
  left: 10%;
  z-index: 3;
  background-image: url('../images/Y4C%E5%BF%97%E6%84%BF%E8%80%85%E8%AF%81%E4%B9%A6.jpg');
}

.rongyu ._2 {
  right: 10%;
  z-index: 2;
  width: 20.4166666666%;
  background-image: url('../images/18%E4%BC%98%E7%A7%80%E5%85%B1%E9%9D%92%E5%9B%A2.jpg');
}

.rongyu ._3 {
  left: 0;
  right: 0;
  z-index: 1;
  width: 20.8333333333%;
  margin: 0 auto;
  background-image: url('../images/17%E4%BC%98%E7%A7%80%E5%AD%A6%E7%94%9F%E5%B9%B2%E9%83%A8.jpg');
}

.rongyu ._4 {
  top: 451px;
  width: 20.9166666666%;
  background-image: url('../images/17%E4%BC%98%E7%A7%80%E5%85%B1%E9%9D%92%E5%9B%A2.jpg');
}

.zhengshu ._1 {
  right: 10%;
  z-index: 23;
  background-image: url('../images/%E5%B7%A5%E5%95%86%E7%AE%A1%E7%90%86%E7%BB%93%E4%B8%9A%E8%AF%81%E4%B9%A6.jpg');
}

.zhengshu ._2 {
  left: 0;
  right: 0;
  z-index: 22;
  width: 20.8333333333%;
  margin: 0 auto;
  background-image: url('../images/%E7%B2%A4%E5%B5%8C%E6%9D%AF%E7%AC%AC%E4%B8%89%E5%90%8D%E8%AF%81%E4%B9%A6.jpg');
}

.zhengshu ._3 {
  left: 10%;
  z-index: 21;
  width: 20.4166666666%;
  background-image: url('../images/%E8%8B%B1%E8%AF%ADB%E7%BA%A7%E8%AF%81%E4%B9%A6.jpg');
}

.zhengshu ._4 {
  top: 315px;
  z-index: 20;
  width: 20.8333333333%;
  background-image: url('../images/%E8%AE%A1%E7%AE%97%E6%9C%BA2%E7%BA%A7C%E8%AF%AD%E8%A8%80%E8%AF%81%E4%B9%A6.jpg');
}

.container-1 {
  top: 230px;
  left: 0;
  z-index: 26;
  width: 100%;
  height: 500px;
}

.container-6 {
  top: 770px;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 776px;
}

.link-1 {
  top: 48px;
  left: 42.1666666666%;
  z-index: 14;
  width: 47.6666666666%;
  height: 70px;
}

.lstwwa-4 {
  position: absolute;
  top: 17px;
  left: 1.5%;
  z-index: 9;
  width: 40.6666666666%;
  height: 100px;
}

@media(max-width: 1000px) {
  .buttom .text {
    width: 40.7859375%;
  }

  .container .black {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .cut {
    right: auto;
  }

  .head {
    left: 0;
    height: 155px;
  }

  .head .index {
    left: 0;
    right: auto;
    height: 155px;
  }

  .index {
    top: 1559px;
    left: 0;
    right: auto;
  }

  .link .home {
    width: 14.2744076797%;
    font-size: 1.375em;
  }

  .link .linux {
    left: 57.1103962418%;
    width: 14.3446180555%;
    font-size: 1.375em;
  }

  .link .resources {
    left: 85.666870915%;
    width: 14.2744076797%;
    font-size: 1.5em;
  }

  .link .resume {
    left: 28.5539215686%;
    width: 14.2744076797%;
    height: 50px;
    font-size: 1.375em;
  }

  .lstwwa .image {
    left: -0.1060379242%;
    width: 80px;
    height: auto;
  }

  .lstwwa .text {
    top: 16px;
    left: 31.6367265469%;
    width: 68.1231287425%;
    font-size: 0.875em;
  }

  .zhengshu {
    top: 204px;
  }

  .container ._4 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._1 {
    top: 98px;
    width: 20.4%;
    height: 209px;
  }

  .rongyu ._2 {
    width: 20.415625%;
    height: 171px;
  }

  .rongyu ._3 {
    left: 0;
    right: 0;
    width: 20.8328125%;
    height: 176px;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._4 {
    width: 20.915625%;
  }

  .zhengshu ._2 {
    left: 0;
    right: 0;
    width: 20.8328125%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
  }

  .zhengshu ._1,
  .zhengshu ._3 {
    width: 20.415625%;
  }

  .zhengshu ._4 {
    width: 20.8328125%;
    height: 100px;
  }

  .container-1 {
    height: 429px;
  }

  .index .link-1 {
    top: 97px;
    left: 37.2%;
    width: 52.9%;
    height: 51px;
  }

  .index .lstwwa-4 {
    left: 10%;
    width: 40.8989309389%;
    height: 80px;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1em;
  }

  .buttom {
    top: 1527px;
  }

  .buttom .text {
    width: 40.78515625%;
  }

  .container .black {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .head,
  .head .index {
    height: 160px;
  }

  .link .home {
    left: -0.0028409091%;
    width: 14.0912282941%;
  }

  .link .link {
    font-size: 1.25em;
  }

  .link .linux {
    left: 57.1581332992%;
    width: 14.0912282941%;
  }

  .link .resources {
    left: 85.6071246169%;
    width: 14.3529749744%;
  }

  .link .resume {
    left: 28.7075459652%;
    width: 14.1949693564%;
  }

  .lstwwa .image {
    left: -0.140224359%;
    width: 60px;
    min-width: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 11px;
    left: 32.96875%;
    width: 67.03125%;
    font-size: 0.75em;
  }

  .container ._1 {
    width: 20.416015625%;
  }

  .container ._4 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._1 {
    top: 127px;
    height: 171px;
  }

  .rongyu ._2,
  .zhengshu ._3 {
    width: 20.416015625%;
  }

  .rongyu ._3,
  .zhengshu ._2 {
    left: 0;
    right: 0;
    width: 20.83203125%;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._4 {
    width: 20.916015625%;
  }

  .zhengshu ._1 {
    top: 109px;
    right: 9.983984375%;
  }

  .zhengshu ._4 {
    width: 20.83203125%;
  }

  .container-1 {
    top: 172px;
  }

  .index .link-1 {
    top: 87px;
    left: 23.625%;
    width: 54.3749999999%;
    height: 48px;
  }

  .index .lstwwa-4 {
    top: 10px;
    left: 0;
    right: 0;
    width: 52.75%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 500px) {
  .buttom {
    top: 1136px;
  }

  .buttom .text {
    width: 40.784375%;
  }

  .container .black {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    left: 0;
    width: 17%;
    height: 22px;
  }

  .link .link {
    font-size: 0.938em;
  }

  .link .linux {
    left: auto;
    right: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .link .resources {
    left: 83%;
    width: 16.875%;
    height: 22px;
  }

  .link .resume {
    left: 27.5%;
    width: 16.875%;
  }

  .lstwwa .image {
    left: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 32.8850855745%;
    width: 66.9926650366%;
    font-size: 0.563em;
  }

  .rongyu {
    top: 595px;
  }

  .container ._1 {
    top: 75px;
    width: 20.415625%;
  }

  .container ._4 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._2,
  .zhengshu ._3 {
    width: 20.415625%;
  }

  .rongyu ._3,
  .zhengshu ._2 {
    left: 0;
    right: 0;
    width: 20.83125%;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._4 {
    top: 263px;
    width: 20.915625%;
  }

  .zhengshu ._1 {
    right: 10%;
  }

  .zhengshu ._4 {
    top: 200px;
    width: 20.83125%;
  }

  .container-1 {
    top: 220px;
  }

  .index .link-1 {
    top: 95px;
    left: 0;
    right: 0;
    width: 81.7307692307%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-4 {
    top: 14px;
    left: 0;
    right: 0;
    width: 81.8%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .buttom {
    top: 1137px;
  }

  .buttom .text {
    width: 40.78515625%;
  }

  .container .black {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    width: 16.875%;
    height: 25px;
  }

  .link .linux {
    right: 27.49609375%;
    height: 25px;
  }

  .link .resources {
    left: 83.125%;
    height: 25px;
    font-size: 0.813em;
  }

  .link .resume {
    height: 40px;
    font-size: 0.813em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 33%;
    width: 78.2477341389%;
    font-size: 0.625em;
  }

  .container ._4 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._1,
  .rongyu ._2 {
    width: 20.4140625%;
  }

  .rongyu ._3,
  .zhengshu ._2 {
    left: 0;
    right: 0;
    width: 20.83203125%;
    margin-right: auto;
    margin-left: auto;
  }

  .rongyu ._4 {
    top: 272px;
    width: 20.9140625%;
  }

  .zhengshu ._1 {
    top: 37px;
    right: 9.9%;
    width: 20.5%;
    height: 52px;
  }

  .zhengshu ._3 {
    top: 58px;
    width: 20.5%;
    height: 61px;
  }

  .zhengshu ._4 {
    top: 137px;
    width: 20.75%;
    height: 68px;
  }

  .container-1 {
    top: 195px;
  }

  .container-6 {
    top: 599px;
  }

  .index .link-1 {
    left: 0;
    right: 0;
    width: 81.799591002%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-4 {
    top: 15px;
    left: 0;
    right: 0;
    width: 80.25%;
    margin-right: auto;
    margin-left: auto;
  }
}