body {
  background-color: rgb(81, 94, 123);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.index-2 p,
.lstwwa-2 p {
  margin-bottom: 1em;
}

.black {
  width: 100%;
}

.bottom {
  position: absolute;
  top: 165px;
  left: 0;
  z-index: 3;
  height: 30px;
  background-color: rgba(162, 173, 197, 0.54);
}

.buttom {
  position: absolute;
  top: 1084px;
  z-index: 2;
  height: 50px;
}

.buttom .text {
  bottom: 11px;
  left: 0.0833333333%;
  z-index: 1;
  width: 40.75%;
  height: 34px;
  font-size: 0.375em;
  color: rgba(255, 255, 255, 0.51);
}

.button {
  display: block;
  position: absolute;
  top: 30px;
  left: 94.1666666666%;
  z-index: 14;
  width: 5.8333333333%;
  height: 34px;
  border-radius: 3px;
  background-color: rgb(133, 145, 172);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  width: 100%;
  height: 195px;
  margin: 0 auto;
  background-image: url('../images/ac5afa59ada34de634b6be4db5a59b24(2).png');
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
  overflow: hidden;
}

.head .index {
  top: 30px;
  z-index: 13;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.3);
}

.home {
  display: block;
  top: 0;
  left: 0;
  z-index: 11;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.index {
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

.index .black {
  bottom: 0;
  left: 0.0833333333%;
  height: 50px;
  background-color: rgb(41, 47, 62);
}

.link {
  position: absolute;
}

.linux {
  display: block;
  top: 0;
  left: 57.2006118881%;
  z-index: 9;
  width: 14.1608391608%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.lstwwa {
  position: absolute;
}

.lstwwa .text {
  top: 23px;
  left: 33.1967213114%;
  z-index: 5;
  width: 66.8032786885%;
  min-width: 98px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.resources {
  display: block;
  top: 0;
  left: 85.6643356643%;
  z-index: 10;
  width: 14.3356643356%;
  height: 35px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.resume {
  display: block;
  top: 0;
  left: 28.6713286713%;
  z-index: 8;
  width: 14.3356643356%;
  height: 70px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(133, 145, 172);
}

.link-1 {
  top: 48px;
  left: 42.1666666666%;
  z-index: 12;
  width: 47.6666666666%;
  height: 70px;
}

.lstwwa-2 {
  top: 17px;
  left: 1.5%;
  z-index: 7;
  width: 40.6666666666%;
  height: 100px;
}

@media(max-width: 1100px) {
  body {
    font-size: 0.938em;
  }

  .buttom .text {
    width: 40.7855113636%;
    font-size: 0.4em;
  }

  .cut {
    right: auto;
  }

  .head {
    left: 0;
    height: 190px;
  }

  .head .black {
    height: 25px;
  }

  .head .button {
    left: 94.1661931818%;
    width: 5.8323863636%;
    font-size: 1.067em;
  }

  .head .index {
    top: 25px;
    left: 0;
    right: auto;
    height: 139px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index {
    top: 1365px;
    left: auto;
    right: auto;
  }

  .link .home {
    left: -0.0406598514%;
    width: 14.3192379182%;
  }

  .link .link {
    min-width: 0;
    min-height: 0;
    font-size: 1.733em;
  }

  .link .linux {
    left: 57.0841078066%;
    width: 14.2785780669%;
  }

  .link .resources {
    left: 85.6110594795%;
    width: 14.3192379182%;
  }

  .link .resume {
    left: 28.5223048327%;
    width: 14.3192379182%;
  }

  .lstwwa .image {
    left: -0.0173290204%;
    width: 90px;
    height: auto;
  }

  .lstwwa .text {
    top: 20px;
    left: 32.3186229205%;
    width: 67.609172828%;
    min-width: 0;
    min-height: 0;
    font-size: 15px;
  }

  .index .link-1 {
    left: 42.1818181818%;
    width: 47.8181818181%;
    height: 71px;
  }

  .index .lstwwa-2 {
    top: auto;
    left: auto;
    width: 40.1813706137%;
    height: 90px;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 0.875em;
  }

  .buttom .text {
    width: 40.7859375%;
    font-size: 0.429em;
  }

  .head {
    height: 204px;
  }

  .head .bottom {
    top: 180px;
  }

  .head .button {
    left: 94.1656249999%;
    width: 5.8328125%;
    font-size: 1.143em;
  }

  .head .index {
    height: 155px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    left: 0;
    width: 14.2744076797%;
    font-size: 1.571em;
  }

  .link .linux {
    left: 57.1103962418%;
    width: 14.3446180555%;
    font-size: 1.571em;
  }

  .link .resources {
    left: 85.666870915%;
    width: 14.2744076797%;
    font-size: 1.714em;
  }

  .link .resume {
    left: 28.5539215686%;
    width: 14.2744076797%;
    height: 50px;
    font-size: 1.571em;
  }

  .lstwwa .image {
    left: -0.1060379242%;
    width: 80px;
    height: auto;
  }

  .lstwwa .text {
    top: 16px;
    left: 31.6367265469%;
    width: 68.1231287425%;
    font-size: 14px;
  }

  .index .link-1 {
    top: 97px;
    left: 37.2%;
    width: 52.9%;
    height: 51px;
  }

  .index .lstwwa-2 {
    top: 17px;
    left: 10%;
    width: 40.8989309389%;
    height: 80px;
  }
}

@media(max-width: 900px) {
  body {
    font-size: 0.813em;
  }

  .buttom .text {
    width: 40.7864583333%;
    font-size: 0.462em;
  }

  .head {
    height: 209px;
  }

  .head .bottom {
    top: 185px;
  }

  .head .button {
    left: 94.1666666666%;
    width: 5.8333333333%;
    font-size: 1.231em;
  }

  .head .index {
    height: 160px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    left: -0.0028409091%;
    width: 14.9318181818%;
    font-size: 1.538em;
  }

  .link .linux {
    left: 57.0170454545%;
    width: 14.4644886363%;
    font-size: 1.538em;
  }

  .link .resources {
    left: 85.7144886363%;
    width: 14.2315340909%;
    font-size: 1.692em;
  }

  .link .resume {
    left: 28.5539772727%;
    width: 14.2727272727%;
    font-size: 1.692em;
  }

  .lstwwa .image {
    left: 0;
    width: 70px;
    min-width: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 15px;
    left: 12.5%;
    width: 34.0277777777%;
    font-size: 13px;
  }

  .index .link-1 {
    top: 100px;
    left: 37.2222222222%;
    width: 52.7777777777%;
    height: 49px;
  }

  .index .lstwwa-2 {
    top: 18px;
    width: 78.6666666666%;
    height: 70px;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 0.75em;
  }

  .buttom .text {
    width: 40.78515625%;
    font-size: 0.5em;
  }

  .head {
    height: 189px;
  }

  .head .button {
    left: 94.166015625%;
    width: 5.83203125%;
    font-size: 1.333em;
  }

  .head .index {
    height: 159px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    left: 0;
    width: 14.0912282941%;
  }

  .link .link {
    font-size: 1.667em;
  }

  .link .linux {
    left: 57.1581332992%;
    width: 14.0912282941%;
  }

  .link .resources {
    left: 85.6071246169%;
    width: 14.3529749744%;
  }

  .link .resume {
    left: 28.7075459652%;
    width: 14.1949693564%;
  }

  .lstwwa .image {
    left: -0.140224359%;
    width: 60px;
    height: auto;
  }

  .lstwwa .text {
    top: 11px;
    left: 32.96875%;
    width: 67.03125%;
    font-size: 12px;
  }

  .index .link-1 {
    top: 87px;
    left: 23.625%;
    width: 54.3749999999%;
    height: 48px;
  }

  .index .lstwwa-2 {
    top: 10px;
    left: 0;
    right: 0;
    width: 52.75%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 700px) {
  body {
    font-size: 0.688em;
  }

  .buttom .text {
    width: 40.7857142857%;
    font-size: 0.545em;
  }

  .head {
    height: 185px;
  }

  .head .bottom {
    top: 165px;
  }

  .head .button {
    left: 94.1651785714%;
    width: 5.8325892857%;
    font-size: 1.455em;
  }

  .head .index {
    left: 0;
    right: 0;
    height: 140px;
    margin-right: auto;
    margin-left: auto;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    width: 14.091739766%;
    height: 24px;
  }

  .link .link {
    font-size: 1.636em;
  }

  .link .linux {
    left: 57.033991228%;
    width: 14.1666666666%;
    height: 24px;
  }

  .link .resources {
    left: 85.5116959064%;
    width: 14.4298245614%;
    height: 24px;
  }

  .link .resume {
    left: 28.490497076%;
    width: 14.2690058479%;
  }

  .lstwwa .image {
    left: -0.2485795455%;
    width: 50px;
    height: auto;
  }

  .lstwwa .text {
    top: 6px;
    left: 33.0357142857%;
    width: 66.9642857142%;
    font-size: 11px;
  }

  .index .link-1 {
    top: 83px;
    left: 0;
    right: 0;
    height: 49px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 13px;
    left: 23.5714285714%;
    right: auto;
    width: 52.8571428571%;
    height: 50px;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 0.625em;
  }

  .buttom .text {
    width: 40.7864583333%;
    font-size: 0.6em;
  }

  .head {
    height: 164px;
  }

  .head .bottom {
    top: 160px;
  }

  .head .button {
    left: 94.1666666666%;
    width: 5.8333333333%;
    font-size: 1.6em;
  }

  .head .index {
    left: 0;
    right: auto;
    height: 135px;
  }

  .head .top,
  .index .lstwwa-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index {
    left: auto;
  }

  .link .home {
    font-size: 1.6em;
  }

  .link .link {
    width: 14.3328508174%;
  }

  .link .linux {
    left: 57.3399182561%;
    font-size: 1.5em;
  }

  .link .resources {
    left: 85.6628916893%;
    font-size: 1.6em;
  }

  .link .resume {
    left: 28.6678303814%;
    height: 47px;
    font-size: 1.6em;
  }

  .lstwwa .image {
    left: -0.10384216%;
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 32.9166666666%;
    width: 67.0833333333%;
    font-size: 10px;
  }

  .index .link-1 {
    top: 75px;
    left: 0;
    right: 0;
    height: 47px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.563em;
  }

  .buttom .text {
    width: 40.784375%;
    font-size: 0.667em;
  }

  .head .button {
    left: 94.1656249999%;
    width: 5.83125%;
    font-size: 1.778em;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    width: 17%;
    height: 22px;
  }

  .link .link {
    font-size: 1.667em;
  }

  .link .linux {
    left: auto;
    right: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .link .resources {
    left: 83%;
    width: 16.875%;
    height: 22px;
  }

  .link .resume {
    left: 27.5%;
    width: 16.875%;
  }

  .lstwwa .image {
    left: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 32.8850855745%;
    width: 66.9926650366%;
    font-size: 9px;
  }

  .index .link-1 {
    top: 77px;
    left: 0;
    right: 0;
    width: 81.7307692307%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 14px;
    left: 0;
    right: 0;
    width: 81.8%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 0.625em;
  }

  .buttom .text {
    width: 40.78515625%;
    font-size: 0.6em;
  }

  .head .button {
    left: 94.1640625%;
    width: 5.83203125%;
    font-size: 1.6em;
  }

  .head .index {
    top: 24px;
  }

  .head .top {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    width: 16.875%;
    height: 25px;
    font-size: 1.5em;
  }

  .link .linux {
    right: 27.49609375%;
    height: 25px;
    font-size: 1.5em;
  }

  .link .resources {
    left: 83.125%;
    height: 25px;
    font-size: 1.3em;
  }

  .link .resume {
    height: 40px;
    font-size: 1.3em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 33%;
    width: 78.2477341389%;
    font-size: 10px;
  }

  .index .link-1 {
    top: 80px;
    left: 0;
    right: 0;
    width: 81.799591002%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 80.25%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 0.5em;
  }

  .buttom .text {
    left: 0;
    width: 50.3333333333%;
    font-size: 0.75em;
  }

  .head .black {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .head .bottom {
    top: 140px;
  }

  .head .button {
    left: 94.1666666666%;
    width: 5.8333333333%;
    font-size: 2em;
  }

  .head .index {
    top: 25px;
    left: 0;
    right: 0;
    height: 116px;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    height: 20px;
    font-size: 12px;
  }

  .link .link {
    width: 16.875878952%;
    line-height: 1.7;
  }

  .link .linux {
    right: 27.4962237616%;
    height: 20px;
    font-size: 12px;
  }

  .link .resources {
    left: auto;
    right: 0.1145893015%;
    height: 20px;
    font-size: 1.5em;
  }

  .link .resume {
    left: 27.5014323662%;
    height: 30px;
    font-size: 1.5em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 12px;
    width: 79.5833333333%;
    font-size: 8px;
  }

  .index .link-1 {
    top: 75px;
    left: 0;
    right: 0;
    width: 81.6666666666%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 10px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 200px) {
  body {
    font-size: 0.375em;
  }

  .buttom .text {
    width: 56.9999999999%;
    font-size: 1em;
  }

  .head {
    height: 120px;
  }

  .head .black {
    left: 0;
    right: 0;
    height: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .head .bottom {
    top: 110px;
  }

  .head .button {
    left: 94.1640625%;
    width: 5.828125%;
    font-size: 2.667em;
  }

  .head .index {
    top: 10px;
    left: 0;
    right: auto;
    height: 100px;
  }

  .link .home {
    height: 15px;
    line-height: 2;
  }

  .link .link {
    width: 16.6219325153%;
    font-size: 1.333em;
  }

  .link .linux {
    right: 28.5563650306%;
    height: 15px;
    line-height: 2;
  }

  .link .resources {
    right: 0.5943251533%;
    height: 15px;
  }

  .link .resume {
    left: 27.0897239263%;
    line-height: 2;
  }

  .lstwwa .image {
    left: -0.5357142858%;
    width: 40px;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    width: 66.6666666666%;
    font-size: 6px;
  }

  .index .link-1 {
    top: 65px;
    left: 0;
    right: 0;
    width: 81%;
    height: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 81%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}