body {
  background-color: #aec6d4;
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.index-2 p,
.lstwwa-2 p,
.text-3 p {
  margin-bottom: 1em;
}

.black {
  bottom: 0;
  left: 0.0833333333%;
  width: 100%;
  height: 50px;
  background-color: rgb(41, 47, 62);
}

.buttom {
  position: absolute;
  top: 1220px;
  z-index: 2;
  height: 50px;
}

.buttom .text {
  bottom: 11px;
  left: 0.0833333333%;
  z-index: 1;
  width: 40.75%;
  height: 34px;
  font-size: 0.375em;
  color: rgba(255, 255, 255, 0.51);
}

.container {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  z-index: 15;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
}

.cut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
  width: 100%;
  height: 135px;
  margin: 0 auto;
  overflow: hidden;
}

.head .index {
  top: 0;
  z-index: 11;
  height: 135px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: url('../images/ac5afa59ada34de634b6be4db5a59b24(11).png') rgba(0, 0, 0, 0.3);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center bottom;
}

.home {
  display: block;
  top: 0;
  left: 0;
  z-index: 9;
  width: 14.3356643356%;
  height: 35px;
  border-top: 2px dotted rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(172, 186, 174);
  font-size: 1.75em;
  text-align: center;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.index {
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

.link {
  position: absolute;
}

.linux {
  display: block;
  top: 0;
  left: 57.2006118881%;
  z-index: 7;
  width: 14.1608391608%;
  height: 35px;
  border-top: 2px dotted rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(172, 186, 174);
  font-size: 1.75em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.lstwwa {
  position: absolute;
}

.lstwwa .text {
  top: 23px;
  left: 33.1967213114%;
  z-index: 3;
  width: 66.8032786885%;
  min-width: 98px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.pan {
  position: absolute;
  top: 530px;
  left: 0;
  right: 0;
  z-index: 14;
  width: 80%;
  min-height: 470px;
  margin: 0 auto;
  border-left: 2px dashed rgb(0, 0, 0);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #cbdccd;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.resources {
  display: block;
  top: 0;
  left: 85.6643356643%;
  z-index: 8;
  width: 14.3356643356%;
  height: 70px;
  border-top: 2px dotted rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(172, 186, 174);
  font-size: 1.75em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.resume {
  display: block;
  top: 0;
  left: 28.6713286713%;
  z-index: 6;
  width: 14.3356643356%;
  height: 35px;
  border-top: 2px dotted rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(172, 186, 174);
  font-size: 1.75em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.url {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 13;
  width: 80%;
  min-height: 470px;
  margin: 0 auto;
  border-left: 2px dashed rgb(0, 0, 0);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #cbdccd;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.link-1 {
  top: 48px;
  left: 42.1666666666%;
  z-index: 10;
  width: 47.6666666666%;
  height: 70px;
}

.lstwwa-2 {
  top: 17px;
  left: 1.5%;
  z-index: 5;
  width: 40.6666666666%;
  height: 100px;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: none;
  text-decoration: underline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 1000px) {
  .buttom {
    margin-right: auto;
    margin-left: auto;
  }

  .buttom .text {
    width: 40.7859375%;
  }

  .container {
    top: auto;
    right: auto;
    height: 985px;
  }

  .container .pan {
    top: 515px;
  }

  .container .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .cut {
    right: auto;
  }

  .head {
    left: 0;
    height: 155px;
  }

  .head .index {
    left: 0;
    right: auto;
    height: 155px;
  }

  .index {
    top: 1215px;
    left: 0;
    right: 0;
  }

  .link .home {
    width: 14.2744076797%;
    font-size: 1.375em;
  }

  .link .linux {
    left: 57.1103962418%;
    width: 14.3446180555%;
    font-size: 1.375em;
  }

  .link .resources {
    left: 85.666870915%;
    width: 14.2744076797%;
    height: 50px;
    font-size: 1.5em;
  }

  .link .resume {
    left: 28.5539215686%;
    width: 14.2744076797%;
    font-size: 1.375em;
  }

  .lstwwa .image {
    left: -0.1060379242%;
    width: 80px;
    height: auto;
  }

  .lstwwa .text {
    top: 16px;
    left: 31.6367265469%;
    width: 68.1231287425%;
    font-size: 0.875em;
  }

  .text {
    left: auto;
  }

  .index .link-1 {
    top: 97px;
    left: 37.2%;
    width: 52.9%;
    height: 51px;
  }

  .index .lstwwa-2 {
    left: 10%;
    width: 40.8989309389%;
    height: 80px;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1em;
  }

  .buttom {
    top: 1200px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .buttom .text {
    width: 40.78515625%;
  }

  .container .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .head,
  .head .index {
    height: 160px;
  }

  .link .home {
    left: -0.0028409091%;
    width: 14.0912282941%;
  }

  .link .link {
    font-size: 1.25em;
  }

  .link .linux {
    left: 57.1581332992%;
    width: 14.0912282941%;
  }

  .link .resources {
    left: 85.6071246169%;
    width: 14.3529749744%;
  }

  .link .resume {
    left: 28.7075459652%;
    width: 14.1949693564%;
  }

  .lstwwa .image {
    left: -0.140224359%;
    width: 60px;
    min-width: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 11px;
    left: 32.9383886255%;
    width: 111.8483412322%;
    font-size: 0.75em;
  }

  .index .link-1 {
    top: 87px;
    left: 23.625%;
    width: 54.3749999999%;
    height: 48px;
  }

  .index .lstwwa-2 {
    top: 10px;
    left: 0;
    right: 0;
    width: 52.75%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 500px) {
  .buttom {
    top: 1190px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .buttom .text {
    width: 40.784375%;
  }

  .container {
    height: 974px;
  }

  .container .pan {
    top: 504px;
  }

  .container .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    left: 0;
    width: 17%;
    height: 22px;
  }

  .link .link {
    font-size: 0.938em;
  }

  .link .linux {
    left: auto;
    right: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .link .resources {
    left: 83%;
    width: 16.875%;
  }

  .link .resume {
    left: 27.5%;
    width: 16.875%;
    height: 22px;
  }

  .lstwwa .image {
    left: 0;
    height: auto;
  }

  .lstwwa .text {
    top: 10px;
    left: 32.8850855745%;
    width: 66.9926650366%;
    font-size: 0.563em;
  }

  .index .link-1 {
    top: 95px;
    left: 0;
    right: 0;
    width: 81.7307692307%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 14px;
    left: 0;
    right: 0;
    width: 81.8%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 1em;
  }

  .buttom {
    top: 1195px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .buttom .text {
    width: 40.78515625%;
  }

  .container {
    height: 985px;
  }

  .container .pan {
    top: 515px;
  }

  .container .text {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .link .home {
    width: 16.875%;
    height: 25px;
  }

  .link .linux {
    right: 27.49609375%;
    height: 25px;
  }

  .link .resources {
    left: 83.125%;
    height: 40px;
    font-size: 0.813em;
  }

  .link .resume {
    height: 25px;
    font-size: 0.813em;
  }

  .lstwwa .image {
    height: auto;
  }

  .lstwwa .text {
    top: 8px;
    left: 33%;
    width: 78.2477341389%;
    font-size: 0.625em;
  }

  .index .link-1 {
    left: 0;
    right: 0;
    width: 81.799591002%;
    margin-right: auto;
    margin-left: auto;
  }

  .index .lstwwa-2 {
    top: 15px;
    left: 0;
    right: 0;
    width: 80.25%;
    margin-right: auto;
    margin-left: auto;
  }
}