body {
  background-color: rgb(81, 94, 123);
  font: 400 0.75em/1.38 Helvetica;
  color: rgba(255, 255, 255, 0.35);
}

.index-2 p,
.text-1 p {
  margin-bottom: 1em;
}

.black {
  position: absolute;
  width: 100%;
}

.bottom {
  left: 0;
}

.bottom .element {
  z-index: 4;
  width: 100%;
  height: 89px;
  background-color: #000000;
}

.bottom .text {
  bottom: 17px;
  left: 0;
  z-index: 5;
  width: 81%;
  min-height: 68px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.35);
}

.cut {
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 441px;
  margin: 0 auto;
}

.element {
  top: 0;
  left: 0;
}

.head {
  position: absolute;
  overflow: hidden;
}

.head .bottom {
  top: 167px;
  height: 30px;
  background-color: rgb(133, 145, 172);
}

.home {
  left: 42.1666666666%;
  z-index: 15;
  width: 6.8333333333%;
  height: 35px;
  white-space: nowrap;
}

.image {
  display: block;
  top: 17px;
  left: 1.5%;
  z-index: 11;
  width: 100px;
  height: auto;
}

.index {
  position: absolute;
}

.index .black {
  z-index: 8;
  height: 135px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background-color: rgba(0, 0, 0, 0.49);
}

.index .lstwwa {
  position: absolute;
  top: 40px;
  left: 15%;
  z-index: 10;
  width: 27.1666666666%;
  min-width: 98px;
  font-size: 1.333em;
  color: rgb(255, 255, 255);
}

.link {
  display: block;
  position: absolute;
  top: 48px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.linux {
  left: 69.4322916666%;
  z-index: 13;
  width: 6.75%;
  height: 35px;
}

.page {
  position: absolute;
  top: 48px;
  left: 42.1666666666%;
  z-index: 9;
  width: 47.6666666666%;
  height: 68px;
}

.resources {
  left: 83%;
  z-index: 14;
  width: 6.8333333333%;
  height: 70px;
}

.resume {
  left: 55.8333333333%;
  z-index: 12;
  width: 6.8333333333%;
  height: 35px;
}

.top {
  height: 30px;
  background-color: rgb(133, 145, 172);
}

._select {
  display: block;
  position: absolute;
  top: 29px;
  left: 89.97265625%;
  z-index: 6;
  width: 6.4166666666%;
  height: 33px;
  padding-left: 10px;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 3px;
  background: url('../images/select-arrows.svg') rgb(81, 94, 123);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right center;
  font-size: 1.083em;
  color: rgb(0, 0, 0);
}

.black-2 {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
}

.black-3 {
  top: 411px;
  left: 0;
  z-index: 1;
}

.index-1 {
  top: 31px;
  left: 0;
  z-index: 16;
  width: 100%;
  height: 135px;
}

.index-2 {
  top: 2005px;
  z-index: 7;
  width: 100%;
  height: 89px;
}

@media(max-width: 1100px) {
  body {
    font-size: 0.625em;
  }

  .bottom .text {
    font-size: 10px;
  }

  .cut {
    right: auto;
  }

  .head {
    height: 453px;
  }

  .head .bottom {
    top: 173px;
  }

  .index .black {
    top: 10px;
  }

  .index .home {
    left: -0.1150568182%;
    width: 14.3125%;
    height: 100px;
  }

  .index .image {
    top: 0;
    left: 2%;
    width: 90px;
    height: auto;
  }

  .index .link {
    top: -30px;
    min-width: 0;
    min-height: 0;
    font-size: 2.6em;
  }

  .index .linux {
    left: 56.9829545454%;
    width: 14.2727272727%;
  }

  .index .lstwwa {
    top: 20px;
    width: 27.1818181818%;
    min-width: 0;
    min-height: 0;
    font-size: 1.5em;
  }

  .index .page {
    top: 58px;
    left: 42.1661931818%;
    width: 47.6008522727%;
    height: 100px;
  }

  .index .resources {
    left: 85.4957386363%;
    width: 14.3125%;
  }

  .index .resume {
    left: 28.4346590909%;
    width: 14.3125%;
  }

  .index ._select {
    top: -9px;
    left: 89.971590909%;
    width: 6.4161931818%;
    font-size: 1.3em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .head .black-3 {
    top: 423px;
  }

  .index-1 {
    height: 158px;
  }
}

@media(max-width: 1000px) {
  .index .black {
    top: 6px;
  }

  .index .home {
    left: 0;
    width: 14.2828125%;
    height: 88px;
    font-size: 2.2em;
  }

  .index .image {
    width: 80px;
    height: auto;
  }

  .index .linux {
    left: 57.1421875%;
    width: 14.353125%;
    font-size: 2.2em;
  }

  .index .lstwwa {
    top: 16px;
    width: 27.9%;
    font-size: 1.4em;
  }

  .index .page {
    top: 54px;
    left: 42.165625%;
    width: 47.5999999999%;
    height: 88px;
  }

  .index .resources {
    left: 85.7140625%;
    width: 14.2828125%;
    font-size: 2.4em;
  }

  .index .resume {
    left: 28.5703125%;
    width: 14.2828125%;
    font-size: 2.2em;
  }

  .index ._select {
    left: 89.971875%;
    width: 6.4156249999%;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 142px;
  }
}

@media(max-width: 900px) {
  body {
    font-size: 0.625em;
  }

  .index .home {
    left: -0.09375%;
    width: 14.9184027777%;
    height: 96px;
    font-size: 2em;
  }

  .index .image {
    width: 70px;
    min-width: 0;
    height: auto;
  }

  .index .linux {
    left: 56.875%;
    width: 14.4513888888%;
    font-size: 2em;
  }

  .index .lstwwa {
    top: 10px;
    width: 26.8888888888%;
    font-size: 1.3em;
  }

  .index .page {
    top: 48px;
    left: 42.1666666666%;
    width: 47.6006944444%;
    height: 96px;
  }

  .index .resources {
    left: 85.546875%;
    width: 14.21875%;
    font-size: 2.2em;
  }

  .index .resume {
    left: 28.4375%;
    width: 14.2604166666%;
  }

  .index ._select {
    left: 89.9722222222%;
    width: 6.4166666666%;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 144px;
  }
}

@media(max-width: 800px) {
  .index .home {
    left: 0;
    width: 14.09765625%;
    height: 93px;
  }

  .index .image {
    top: 3px;
    left: 2.5%;
    width: 60px;
    height: auto;
  }

  .index .linux {
    left: 57.1796875%;
    width: 14.09765625%;
  }

  .index .lstwwa {
    top: 14px;
    left: 12%;
    width: 30.25%;
    font-size: 1.2em;
  }

  .index .page {
    left: 42.166015625%;
    width: 47.875%;
    height: 93px;
  }

  .index .resources {
    left: 85.638671875%;
    width: 14.359375%;
    font-size: 2em;
  }

  .index .resume {
    left: 28.71875%;
    width: 14.2011718749%;
    font-size: 2em;
  }

  .index ._select {
    left: 89.97265625%;
    width: 6.416015625%;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 141px;
  }
}

@media(max-width: 700px) {
  body {
    font-size: 0.563em;
  }

  .bottom .text {
    font-size: 9px;
  }

  .index .home {
    width: 14.0714285714%;
    height: 92px;
  }

  .index .image {
    top: 8px;
    left: 2%;
    width: 50px;
    height: auto;
  }

  .index .link {
    font-size: 18px;
  }

  .index .linux {
    left: 56.9464285714%;
    width: 14.1450892857%;
  }

  .index .lstwwa {
    width: 31%;
    font-size: 1.222em;
  }

  .index .page {
    left: 42.1651785714%;
    width: 47.6138392857%;
    height: 92px;
  }

  .index .resources {
    left: 85.3794642857%;
    width: 14.4084821428%;
  }

  .index .resume {
    left: 28.4464285714%;
    width: 14.2477678571%;
  }

  .index ._select {
    left: 89.9709821428%;
    width: 6.4151785714%;
    font-size: 1.444em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 140px;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 0.5em;
  }

  .bottom .text {
    font-size: 8px;
  }

  .index .home {
    height: 47px;
    font-size: 16px;
  }

  .index .image {
    top: 3px;
    height: auto;
  }

  .index .link {
    width: 14.3333333333%;
  }

  .index .linux {
    left: 57.3411458333%;
    height: 24px;
    font-size: 1.875em;
  }

  .index .lstwwa {
    top: 11px;
    left: 14%;
    font-size: 1.25em;
  }

  .index .page {
    left: 42.1666666666%;
    width: 47.6666666666%;
    height: 47px;
  }

  .index .resources {
    left: 85.6640625%;
    height: 24px;
    font-size: 16px;
  }

  .index .resume {
    left: 28.6692708333%;
    height: 24px;
    font-size: 16px;
  }

  .index ._select {
    left: 89.9713541666%;
    width: 6.4166666666%;
    font-size: 1.625em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 135px;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.438em;
  }

  .bottom .text {
    font-size: 7px;
  }

  .index .black {
    top: 14px;
    width: 81.8330605564%;
  }

  .index .home {
    width: 13.9116202945%;
  }

  .index .image {
    top: 0;
    left: 8.1833060556%;
    height: auto;
  }

  .index .link {
    font-size: 2.143em;
  }

  .index .linux {
    left: auto;
    right: 40.6710310965%;
    width: 13.8093289689%;
    height: 22px;
  }

  .index .lstwwa {
    top: 10px;
    left: 18.8216039279%;
    width: 57.1194762684%;
    font-size: 1.286em;
  }

  .index .page {
    top: 62px;
    left: 34.5054214402%;
    width: 65.3846153846%;
  }

  .index .resources {
    left: 67.9214402618%;
    width: 13.8093289689%;
    height: 23px;
  }

  .index .resume {
    left: 22.504091653%;
    width: 13.8093289689%;
    height: 22px;
  }

  .lstwwa {
    width: 122.2%;
  }

  .index ._select {
    left: 89.971875%;
    width: 6.4156249999%;
    font-size: 1.857em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 149px;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 0.375em;
  }

  .bottom .text {
    font-size: 6px;
  }

  .index .black {
    top: 0;
    width: 81.799591002%;
  }

  .index .home {
    font-size: 2.5em;
  }

  .index .image {
    top: 22px;
    left: 8.1799591002%;
    height: auto;
  }

  .index .link {
    width: 13.8036809815%;
  }

  .index .linux {
    right: 40.6921012269%;
    height: 20px;
    font-size: 2.5em;
  }

  .index .lstwwa {
    top: 30px;
    left: 22.9038854805%;
    width: 52.9652351738%;
    font-size: 1.667em;
  }

  .index .page {
    top: 78px;
    left: 34.4900306748%;
    width: 65.4396728016%;
  }

  .index .resources {
    left: 67.9959100204%;
    height: 20px;
    font-size: 2.167em;
  }

  .index .resume {
    left: 22.4948875255%;
    height: 20px;
    font-size: 2.167em;
  }

  .lstwwa {
    width: 122.2499999999%;
  }

  .index ._select {
    left: 89.97265625%;
    width: 6.4140625%;
    font-size: 2.167em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .index-1 {
    height: 135px;
  }
}

@media(max-width: 300px) {
  body {
    font-size: 0.313em;
  }

  .bottom .text {
    font-size: 5px;
  }

  .index .black {
    width: 81.7438692098%;
  }

  .index .image {
    left: 8.1743869209%;
    height: auto;
  }

  .index .link {
    width: 13.7942779291%;
    font-size: 2.4em;
    line-height: 1.7;
  }

  .index .linux {
    right: 40.7356948228%;
  }

  .index .lstwwa {
    top: 34px;
    left: 24.5231607629%;
    width: 49.0463215258%;
    font-size: 1.6em;
  }

  .index .page {
    left: 34.4686648501%;
    width: 65.3142029972%;
  }

  .index .resources {
    left: auto;
    right: 18.3540531335%;
  }

  .index .resume {
    left: 22.4795640326%;
  }

  .lstwwa {
    width: 122.3333333333%;
  }

  .index ._select {
    left: 89.96875%;
    width: 6.4166666666%;
    font-size: 2.6em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 200px) {
  body {
    font-size: 0.25em;
  }

  .bottom .text {
    font-size: 4px;
  }

  .index .black {
    width: 81.3008130081%;
  }

  .index .home {
    height: 49px;
    line-height: 2;
  }

  .index .image {
    top: 30px;
    left: 8.1300813008%;
    width: 40px;
    height: auto;
  }

  .index .link {
    width: 13.5480182926%;
    font-size: 2em;
  }

  .index .linux {
    right: 41.7809959349%;
    line-height: 2;
  }

  .index .lstwwa {
    top: 40px;
    left: 29.2682926829%;
    width: 48.7804878048%;
    font-size: 1.5em;
  }

  .index .page {
    left: 34.2797256097%;
    width: 65.6122967479%;
    height: 49px;
  }

  .index .resources {
    right: 18.9913617886%;
  }

  .index .resume {
    left: 22.0782520325%;
    line-height: 2;
  }

  .lstwwa {
    width: 123%;
  }

  .index ._select {
    width: 6.4140625%;
    font-size: 3.25em;
  }

  .head .black-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}