body {
  background-color: rgb(81, 94, 123);
  font: 400 0.75em/1.38 Helvetica;
  color: rgba(255, 255, 255, 0.35);
}

.black {
  top: 0;
  height: 135px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background-color: rgba(0, 0, 0, 0.49);
}

.button {
  top: 14px;
  left: 84.1131731061%;
  z-index: 10;
  width: 12.8506236689%;
  height: 24px;
  background-color: rgb(61, 71, 92);
  font-size: 1.333em;
}

.divresource {
  position: absolute;
  top: 180px;
  left: 8%;
  z-index: 11;
  width: 42.7994791666%;
  height: 53px;
}

.element {
  position: absolute;
  left: 0;
  width: 100%;
}

.home {
  top: 52px;
  left: 37.1666666666%;
  z-index: 6;
  width: 8.25%;
  height: 36px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 18px;
  left: 2.1666666666%;
  z-index: 1;
  width: 94px;
  height: auto;
  overflow: hidden;
}

.link {
  display: block;
  position: absolute;
  border-radius: 3px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.linux {
  top: 52px;
  left: 64.3997395833%;
  z-index: 4;
  width: 8.25%;
  height: 36px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
}

.lstwwa {
  top: 38px;
  left: 12.3489583333%;
  z-index: 2;
  width: 22.3333333333%;
  min-height: 29px;
  font-size: 1.333em;
  color: rgb(255, 255, 255);
}

.resource {
  display: block;
  top: 14px;
  left: 4.6729540614%;
  z-index: 9;
  width: 53.154852449%;
  height: 24px;
  font-size: 1.333em;
  color: rgb(255, 255, 255);
}

.resume {
  top: 52px;
  left: 50.7994791666%;
  z-index: 3;
  width: 8.25%;
  height: 36px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
}

.text {
  position: absolute;
}

.resources-1 p,
.text-3 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: absolute;
  top: 540px;
  left: 36.4%;
  z-index: 12;
  width: 26.4166666666%;
  height: 208px;
  border-radius: 3px;
  background: url('../images/construction.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.link-3 {
  top: 52px;
  left: 78%;
  z-index: 5;
  width: 8.25%;
  height: 93px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
}

.resources-1 {
  top: 1345px;
  left: 2.1666666666%;
  z-index: 8;
  width: 87.8333333333%;
  min-height: 68px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.35);
}

.resources-2 {
  top: 1324px;
  z-index: 7;
  height: 89px;
  background-color: #000000;
}