body {
  height: 100%;
  background: url('../images/bank.png') rgb(255, 255, 255);
  background-size: auto auto;
  background-position: left top;
  font: 400 1em/1.38 Georgia;
  color: rgb(0, 0, 0);
}

p {
  margin-bottom: 1em;
}

.element {
  position: relative;
  float: left;
  z-index: 0;
  width: 100%;
  height: 101px;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: #000000;
  overflow: visible;
}

.element:focus {
  border-bottom-width: 0;
  border-bottom-style: none;
}

.image {
  display: block;
  position: relative;
  float: left;
  height: auto;
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
  z-index: 2;
  width: 23.5%;
  min-height: 36px;
  margin: -73px 0 0 13.69922%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 6.6666666666%;
  height: 41px;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.image-1 {
  clear: both;
  z-index: 1;
  width: 72px;
  margin: -80px 0 0 4%;
}

.image-2 {
  z-index: 3;
  width: 121px;
  margin: -80px 0 0 54.31641%;
}

.image-3 {
  z-index: 8;
  width: 50px;
  margin-top: -135px;
}

.image-4 {
  clear: both;
  z-index: 9;
  width: 50px;
  margin: -135px 0 0 96.29167%;
}

._button-1 {
  z-index: 5;
  margin: -70px 0 0 42.39974%;
  background-color: rgb(81, 94, 123);
}

._button-2 {
  clear: both;
  z-index: 4;
  margin: -205px 0 0 56%;
  background-color: rgba(222, 222, 222, 0);
}

._button-3 {
  z-index: 6;
  margin: -205px 0 0 69.59896%;
  background-color: rgb(81, 94, 123);
}

._button-4 {
  z-index: 7;
  margin: -205px 0 0 83.19922%;
  background-color: rgb(76, 89, 116);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Helvetica;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text em,
.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}