body {
  background-color: rgb(81, 94, 123);
  font: 400 0.75em/1.38 Helvetica;
  color: rgba(255, 255, 255, 0.35);
}

.black {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 135px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background-color: rgba(0, 0, 0, 0.49);
}

.element {
  left: 0;
  width: 100%;
}

.home {
  position: absolute;
  left: 42.3333333333%;
  z-index: 7;
  width: 6.8333333333%;
  height: 102px;
  white-space: nowrap;
}

.image {
  display: block;
  position: absolute;
  top: 33px;
  left: 1.25%;
  z-index: 8;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.link {
  display: block;
  top: 52px;
  border-radius: 3px;
  background-color: rgb(81, 94, 123);
  font-size: 2.333em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.linux {
  position: absolute;
  left: 69.5989583333%;
  z-index: 5;
  width: 6.75%;
  height: 36px;
}

.lstwwa {
  position: absolute;
  top: 40px;
  left: 15.1666666666%;
  z-index: 3;
  width: 27.1666666666%;
  min-width: 98px;
  font-size: 1.333em;
  color: rgb(255, 255, 255);
}

.resources {
  position: absolute;
  left: 83.1666666666%;
  z-index: 6;
  width: 6.8333333333%;
  height: 36px;
}

.resume {
  position: absolute;
}

.resume-2 p,
.text-1 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: absolute;
  top: 579px;
  left: 36.4%;
  z-index: 9;
  width: 26.4166666666%;
  height: 208px;
  border-radius: 3px;
  background: url('../images/construction.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  font-size: 1.333em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.link-4 {
  left: 56%;
  z-index: 4;
  width: 6.8333333333%;
  height: 36px;
}

.resume-2 {
  top: 1346px;
  left: 2.1666666666%;
  z-index: 1;
  width: 81%;
  min-height: 68px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.35);
}

.resume-3 {
  top: 1325px;
  height: 89px;
  background-color: #000000;
}

@media(max-width: 1100px) {
  .home {
    width: 6.8181818181%;
    height: 100px;
    font-size: 2em;
  }

  .image {
    width: 90px;
    height: auto;
  }

  .link {
    min-width: 0;
    min-height: 0;
  }

  .linux {
    width: 6.8%;
    font-size: 2.167em;
  }

  .lstwwa {
    width: 27.1818181818%;
    min-width: 0;
    min-height: 0;
    font-size: 1.25em;
  }

  .link-4,
  .resources {
    width: 6.8181818181%;
    font-size: 2.167em;
  }

  ._button {
    width: 48.4444444444%;
  }
}

@media(max-width: 1000px) {
  body {
    font-size: 0.75em;
  }

  .home {
    width: 6.8%;
    height: 88px;
    font-size: 1.833em;
  }

  .image {
    width: 80px;
    height: auto;
  }

  .linux {
    font-size: 1.833em;
  }

  .lstwwa {
    width: 27.9%;
    font-size: 1.167em;
  }

  .resources {
    width: 6.8%;
    font-size: 2em;
  }

  ._button {
    width: 73.5%;
  }

  .link-4 {
    width: 6.8%;
    font-size: 1.833em;
  }
}

@media(max-width: 900px) {
  .home {
    width: 7.1111111111%;
    height: 96px;
    font-size: 1.667em;
  }

  .image {
    width: 70px;
    min-width: 0;
    height: auto;
  }

  .linux {
    width: 6.8888888888%;
    font-size: 1.667em;
  }

  .lstwwa {
    width: 26.8888888888%;
    font-size: 1.083em;
  }

  .resources {
    width: 6.7777777777%;
    font-size: 1.833em;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 0.75em;
  }

  .home {
    width: 6.75%;
    height: 93px;
  }

  .image {
    width: 60px;
    height: auto;
  }

  .linux {
    width: 6.75%;
  }

  .lstwwa {
    width: 30.25%;
    font-size: 1em;
  }

  .resources {
    width: 6.875%;
    font-size: 1.667em;
  }

  .link-4 {
    font-size: 1.667em;
  }
}

@media(max-width: 700px) {
  .home {
    width: 6.7142857142%;
    height: 92px;
  }

  .image {
    width: 50px;
    height: auto;
  }

  .link {
    font-size: 1.5em;
  }

  .lstwwa {
    width: 31%;
    font-size: 0.917em;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 0.75em;
  }

  .home {
    width: 6.8333333333%;
    font-size: 1.333em;
  }

  .image {
    height: auto;
  }

  .linux {
    width: 6.8333333333%;
    height: 24px;
    font-size: 1.25em;
  }

  .lstwwa {
    font-size: 0.833em;
  }

  .resources {
    width: 6.8333333333%;
    height: 24px;
    font-size: 1.333em;
  }

  .link-4 {
    height: 24px;
    font-size: 1.333em;
  }
}

@media(max-width: 500px) {
  .home {
    width: 13.25%;
    font-size: 1.25em;
  }

  .image {
    height: auto;
  }

  .linux {
    width: 13.25%;
    height: 22px;
  }

  .lstwwa {
    width: 69.8%;
    font-size: 0.75em;
  }

  .resources {
    width: 13.5%;
    height: 23px;
    font-size: 1.25em;
  }

  .link-4 {
    width: 13.5%;
    height: 22px;
    font-size: 1.25em;
  }
}

@media(max-width: 400px) {
  body {
    font-size: 0.75em;
  }

  .home {
    width: 13.5%;
  }

  .image {
    height: auto;
  }

  .linux {
    height: 20px;
  }

  .lstwwa {
    width: 64.75%;
    font-size: 0.833em;
  }

  .link-4,
  .resources {
    height: 20px;
    font-size: 1.083em;
  }

  ._button {
    background-size: contain;
  }
}

@media(max-width: 300px) {
  .image {
    height: auto;
  }

  .link {
    font-size: 1em;
    line-height: 1.7;
  }

  .linux,
  .resources {
    left: auto;
  }

  .lstwwa {
    width: 60%;
    font-size: 0.667em;
  }

  ._button {
    width: 74.6666666666%;
    height: 133px;
  }
}

@media(max-width: 200px) {
  body {
    font-size: 0.75em;
  }

  .home {
    height: 37px;
    line-height: 2;
  }

  .image {
    width: 40px;
    height: auto;
  }

  .link {
    font-size: 0.667em;
  }

  .link-4,
  .linux {
    line-height: 2;
  }

  .lstwwa {
    font-size: 0.5em;
  }
}